.hearth-Link {
  /*  unset button styles when asChild is used */
  &:where(button) {
    outline: transparent;
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
  }

  cursor: pointer;
  display: inline;
  font-family: var(--h-font-family-body);
  font-size: var(--h-body-text-md-font-size);
  font-weight: var(--h-font-weight-semibold);
  line-height: var(--h-body-text-md-line-height);
  color: var(--h-link-color);
  text-decoration-line: underline;
  text-decoration-color: currentcolor;
  border-radius: var(--h-border-radius-xs);

  &:where([data-inverted]) {
    color: var(--h-link-inverted-color);
  }

  @media (hover: hover) {
    &:where(:hover) {
      color: var(--h-link-color-hover);
      text-decoration: none;

      &:where([data-inverted]) {
        color: var(--h-link-inverted-color-hover);
      }
    }
  }

  &:where(:active) {
    color: var(--h-link-color-active);

    &:where([data-inverted]) {
      color: var(--h-link-inverted-color-active);
    }
  }

  &:where(:focus-visible) {
    outline: 2px solid var(--h-focus-primary);
    outline-offset: 1px;

    &:where([data-inverted]) {
      outline: 2px solid var(--h-focus-inverted);
    }
  }

  &:has(svg, [data-icon]) {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    gap: var(--h-link-gap);
  }
}
