.h-Accordion {
  display: flex;
  flex-direction: column;
  gap: var(--h-accordion-gap);

  & :where(.h-AccordionItem) {
    border-bottom: var(--h-divider-size) solid var(--h-divider-color);

    & :where(.h-AccordionItemHeader) {
      display: flex;
      flex-direction: column;
    }

    & :where(.h-AccordionHeader) {
      display: flex;
    }

    & :where(.h-AccordionItemDescription) {
      padding-inline: var(--h-accordion-item-heading-padding-horizontal);
      padding-top: var(--h-accordion-item-content-padding-top);
      padding-bottom: var(--h-accordion-item-content-padding-bottom);
      font-family: var(--h-font-family-body);
      font-size: var(--h-body-text-md-font-size);
      font-weight: var(--h-font-weight-regular);
      line-height: var(--h-body-text-md-line-height);
      color: var(--h-text-primary);
    }
  }

  & :where(.h-AccordionTrigger) {
    all: unset;
    flex: 1;
    cursor: pointer;
    display: flex;
    gap: var(--h-accordion-item-heading-gap);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--h-accordion-item-heading-padding-vertical);
    padding-inline: var(--h-accordion-item-heading-padding-horizontal);
    font-family: var(--h-font-family-body);
    font-size: var(--h-body-text-md-font-size);
    font-weight: var(--h-font-weight-semibold);
    line-height: var(--h-body-text-md-line-height);
    color: var(--h-text-primary);

    @media (hover: hover) {
      &:where(:hover) {
        background-color: var(--h-interactive-neutral-surface-subtle-hover);
      }
    }

    &:where(:active) {
      background-color: var(--h-interactive-neutral-surface-subtle-active);
    }

    &:where(:focus-visible) {
      outline: 2px solid var(--h-focus-primary);
      outline-offset: 1px;
    }
  }

  & :where(svg) {
    transition: transform 200ms;
  }

  & :where(.h-AccordionTrigger[data-state='open'] > svg) {
    transform: rotate(180deg);
  }

  & :where(.h-AccordionContent) {
    overflow: hidden;
  }

  @media (prefers-reduced-motion: no-preference) {
    & :where(.h-AccordionContent[data-state='open']) {
      animation: h-slide-down 200ms ease-out;
    }

    & :where(.h-AccordionContent[data-state='closed']) {
      animation: h-slide-up 200ms ease-out forwards;
    }
  }

  & :where(.h-AccordionContentText) {
    padding-inline: var(--h-accordion-item-heading-padding-horizontal);
    padding-top: var(--h-accordion-item-content-padding-top);
    padding-bottom: var(--h-accordion-item-content-padding-bottom);
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes h-slide-down {
    from {
      height: 0;
    }

    to {
      /* stylelint-disable-next-line custom-property-pattern, csstools/value-no-unknown-custom-properties -- Radix UI specific custom property */
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes h-slide-up {
    from {
      /* stylelint-disable-next-line custom-property-pattern, csstools/value-no-unknown-custom-properties -- Radix UI specific custom property */
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}
