.sidebar-container {
  background: var(--h-background-secondary) !important;
}

.sidebar-header div {
  margin-top: calc(var(--h-space-200) * -1);
}

#storybook-explorer-tree .sidebar-item button,
#storybook-explorer-tree .sidebar-item a,
.sidebar-subheading button {
  & div {
    margin-top: 4px !important;
    align-items: stretch !important;
  }
}

/* selector for data-test-id="sb-preview-toolbar" - brave browser fix */
[data-test-id='sb-preview-toolbar'] {
  margin-top: 0 !important;
}
