.hearth-ListItem {
  display: flex;
  flex-direction: row;
  gap: var(--h-space-300);
  align-items: center;
  position: relative;
  padding: var(--h-list-item-functional-padding);

  &:where(:not(.hearth-Card &)) {
    padding-left: 0;
    padding-right: 0;
  }

  :where(.hearth-variant-subtle, .hearth-variant-emphasis) & {
    &:where(:first-child) {
      border-top-left-radius: var(--h-card-border-radius);
      border-top-right-radius: var(--h-card-border-radius);
    }

    &:where(:last-child) {
      border-bottom-left-radius: var(--h-card-border-radius);
      border-bottom-right-radius: var(--h-card-border-radius);
    }
  }

  &:where(:not(:first-child)) {
    border-top: var(--h-list-item-functional-border-width) solid;
    border-color: var(--h-border-subtle);
  }

  :where(.hearth-variant-subtle) & {
    border-color: var(--h-border-subtle);
  }

  :where(.hearth-variant-emphasis) & {
    border-color: var(--h-border-strong);
  }

  &:has(button, a):not(:has(.hearth-Switch)):not(:has(.hearth-Link)) {
    @media (hover: hover) {
      &:where(:hover) {
        background-color: var(--h-interactive-neutral-surface-subtle-hover);
      }
    }

    &:where(:active) {
      background-color: var(--h-interactive-neutral-surface-subtle-active);
    }
  }

  & :where(.hearth-ListItemTrailingIcon) {
    height: 48px;
    display: flex;
    align-items: center;
    position: absolute;
    right: var(--h-list-item-functional-padding);
    top: calc(50% - 24px);

    &:where(:not(.hearth-Card &)) {
      right: 0;
    }
  }
}
