@import url('../../styles/tokens/list.css');

.hearth-List {
  display: flex;
  flex-direction: column;
  gap: var(--h-list-gap);

  & :where(.hearth-ListContainer) {
    &:where(:has(:focus-visible)) {
      outline: none;
    }

    & :where(ul, ol) {
      width: 100%;
    }
  }
}
