.hearth-List {
  display: flex;
  flex-direction: column;
  gap: var(--h-list-gap);
  width: 100%;

  & :where(.hearth-ListContainer) {
    &:where(:has(:focus-visible)) {
      outline: none;
    }

    & :where(ul, ol) {
      width: 100%;
    }
  }

  & :where(.hearth-ListItem) {
    display: flex;
    flex-direction: row;
    gap: var(--h-space-300);
    align-items: center;
    position: relative;
    padding: var(--h-list-item-functional-padding);

    :where(.hearth-variant-subtle, .hearth-variant-emphasis) & {
      &:where(:first-child) {
        border-top-left-radius: var(--h-card-border-radius);
        border-top-right-radius: var(--h-card-border-radius);
      }

      &:where(:last-child) {
        border-bottom-left-radius: var(--h-card-border-radius);
        border-bottom-right-radius: var(--h-card-border-radius);
      }
    }

    &:where(:not(:first-child)) {
      border-top: var(--h-list-item-functional-border-width) solid;
      border-color: var(--h-border-subtle);
    }

    :where(.hearth-variant-subtle) & {
      border-color: var(--h-border-subtle);
    }

    :where(.hearth-variant-emphasis) & {
      border-color: var(--h-border-strong);
    }

    &:has(button, a):not(:has(.hearth-Switch), :has(.hearth-Link)) {
      @media (hover: hover) {
        &:where(:hover) {
          background-color: var(--h-interactive-neutral-surface-subtle-hover);
        }
      }

      &:where(:active) {
        background-color: var(--h-interactive-neutral-surface-subtle-active);
      }
    }

    & :where(.hearth-ListItemButton, .hearth-ListActionButton) {
      all: unset;
      outline: transparent;
      appearance: none;
      box-sizing: border-box;

      & :where(.hearth-ListItemContent) {
        width: 100%;
      }
    }

    & :where(.hearth-ListItemLink, .hearth-ListActionLink) {
      color: inherit;
      font: inherit;
      text-decoration: none;
    }

    & :where(.hearth-ListActionLink, .hearth-ListActionButton) {
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: var(--h-list-item-gap);

      &::after {
        z-index: 0;
        content: '';
        position: absolute;
        inset: 0;
      }

      &:where(:focus-visible) {
        outline: 2px solid var(--h-focus-primary);
        outline-offset: 1px;
      }
    }

    & :where(.hearth-ListItemButton, .hearth-ListItemLink) {
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: var(--h-list-item-gap);
      align-items: center;

      &::after {
        z-index: 0;
        content: '';
        position: absolute;
        inset: 0;
      }

      &:where(:focus-visible) {
        outline: 2px solid var(--h-focus-primary);
        outline-offset: 1px;
      }
    }

    & :where(.hearth-ListItemContent) {
      width: 100%;
      display: flex;
      gap: var(--h-list-item-gap);
      align-items: center;

      &:has(.hearth-HelperText) {
        align-items: start;
      }

      & :where(.hearth-ListItemContentTrailingContent) {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        align-self: center;

        &:has(.hearth-Switch, .hearth-Link) {
          justify-content: start;
        }
      }
    }
  }
}
