.hearth-Checkbox {
  cursor: pointer;

  * {
    cursor: pointer;
  }

  .hearth-CheckboxBase {
    &:where(:focus-visible) {
      --checkbox-outline-color: var(--color-cyan700);
    }
  }

  /* we do this so that the gap between the checkbox & label is clickable */
  .hearth-Label {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: -8px;
    }
  }
}
