.hearth-Spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--h-spinner-size);
  width: var(--h-spinner-size);
  color: var(--h-spinner-default-fill);
  padding: var(--h-spinner-padding);

  &:where([data-currentColor]) {
    color: currentcolor;
  }

  &:where(.hearth-color):not([data-currentColor]) {
    color: var(--h-color);
  }

  --h-spinner-animation-duration: 1.4s;
  --h-pi: 3.14;
  --h-circumference: calc(var(--h-pi) * var(--h-spinner-size));

  @breakpoints {
    &:where(.hearth-r-size-xs) {
      --h-spinner-size: var(--h-spinner-xs-size);
      --h-spinner-stroke-width: var(--h-spinner-xs-stroke-width);
      --h-multiplier: 1.7;
    }

    &:where(.hearth-r-size-sm) {
      --h-spinner-size: var(--h-spinner-sm-size);
      --h-spinner-stroke-width: var(--h-spinner-sm-stroke-width);
      --h-multiplier: 1.8;
    }

    &:where(.hearth-r-size-md) {
      --h-spinner-size: var(--h-spinner-md-size);
      --h-spinner-stroke-width: var(--h-spinner-md-stroke-width);
      --h-multiplier: 1.9;
    }

    &:where(.hearth-r-size-lg) {
      --h-spinner-size: var(--h-spinner-lg-size);
      --h-spinner-stroke-width: var(--h-spinner-lg-stroke-width);
      --h-multiplier: 2;
    }
  }

  & > svg {
    width: 100%;
    height: 100%;
    stroke: currentcolor;
    animation: hearth-rotator var(--h-spinner-animation-duration) linear infinite;

    & > circle {
      fill: transparent;
      stroke-width: var(--h-spinner-stroke-width);
      stroke-linecap: round;
      stroke-dasharray: var(--h-circumference);
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: hearth-dash var(--h-spinner-animation-duration) ease-in-out infinite;

      @media (prefers-reduced-motion: reduce) {
        stroke-dasharray: calc(var(--h-spinner-size) * var(--h-multiplier));
      }
    }
  }
}

@keyframes hearth-rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes hearth-dash {
  0% {
    stroke-dashoffset: var(--h-circumference);
  }

  50% {
    stroke-dashoffset: calc(var(--h-circumference) / 4);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: var(--h-circumference);
    transform: rotate(450deg);
  }
}
