.hearth-Spinner {
  /* height: var(--spinner-size); */
  /* width: var(--spinner-size); */
  height: 40px;
  width: 40px;
  --spinner-animation-duration: 1.4s;
  --offset: 187;

  @breakpoints {
    &:where(.hearth-r-size-xs) {
      --spinner-size: var(--spinner-xs-size);
      --spinner-stroke-width: var(--spinner-xs-stroke-width);
    }
    &:where(.hearth-r-size-sm) {
      --spinner-size: var(--spinner-sm-size);
      --spinner-stroke-width: var(--spinner-sm-stroke-width);
    }
    &:where(.hearth-r-size-md) {
      --spinner-size: var(--spinner-md-size);
      --spinner-stroke-width: var(--spinner-md-stroke-width);
    }
    &:where(.hearth-r-size-lg) {
      --spinner-size: var(--spinner-lg-size);
      --spinner-stroke-width: var(--spinner-lg-stroke-width);
    }
  }

  & > svg {
    width: var(--spinner-size);
    height: var(--spinner-size);
    stroke: var(--spinner-stroke, hotpink);
    animation: rotator var(--spinner-animation-duration) linear infinite;

    & > circle {
      fill: none;
      stroke-width: var(--spinner-stroke-width);
      stroke-linecap: round;
      stroke-dasharray: var(--offset);
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: dash var(--spinner-animation-duration) ease-in-out infinite;
    }
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: var(--offset);
  }
  50% {
    stroke-dashoffset: var(--offset) / 4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: var(--offset);
    transform: rotate(450deg);
  }
}
