.hearth-NavigationalCard {
  position: relative;

  & > a {
    &:where(:focus-visible) {
      outline: none;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  &:where(:has(:focus-visible)) {
    outline: 2px solid var(--focus-border);
    outline-offset: 1px;
  }

  @media (hover: hover) {
    &:where(:hover) {
      &:where(.hearth-color-scheme-white) {
        background-color: var(--card-white-background-color-hover);
      }

      &:where(.hearth-color-scheme-warm-white) {
        background-color: var(--card-warm-white-background-color-hover);
      }
    }
  }

  &:where(:active) {
    &:where(.hearth-color-scheme-white) {
      background-color: var(--card-white-background-color-active);
    }

    &:where(.hearth-color-scheme-warm-white) {
      background-color: var(--card-warm-white-background-color-active);
    }
  }
}
