.h-ToggleButtonCard {
  gap: var(--h-card-selectable-gap);
  border: none;
  cursor: pointer;
  flex: 1;
  height: auto;
  justify-content: space-between;

  &:has(button[data-state='off']) {
    box-shadow: inset 0 0 0 var(--h-card-neutral-subtle-border-width) var(--h-border-subtle);
  }

  &:has(button[data-state='on']) {
    box-shadow: inset 0 0 0 var(--h-card-brand-border-width) var(--h-border-strong);
  }

}
