.hearth-Select {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--h-select-gap);

  & :where(.hearth-SelectTrigger) {
    all: unset;
    outline: transparent;
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    min-width: var(--h-select-min-width);
    max-width: var(--h-select-max-width);
    /* stylelint-disable-next-line custom-property-pattern -- Radix UI specific custom property */
    width: var(--radix-select-trigger-width);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--h-select-gap);
    text-align: center;
    flex-shrink: 0;
    user-select: none; /* make inner text unselectable */
    background-color: var(--h-surface-neutral-strong);
    border: var(--h-select-border-width) solid var(--h-select-border, var(--h-border-strong));
    border-radius: var(--h-select-border-radius);
    padding-inline: var(--h-select-padding-horizontal);
    padding-block: var(--h-select-padding-vertical);
    font-family: var(--h-font-family-body);
    font-size: var(--h-body-text-md-font-size);
    font-weight: var(--h-font-weight-regular);
    line-height: var(--h-body-text-md-line-height);

    --h-select-border-color-focus: var(--h-border-strong);

    &:where([data-placeholder]) {
      color: var(--h-text-secondary);
    }

    &:where([data-disabled]) {
      cursor: default;
    }

    &:where(:focus-visible, [data-state='open']) {
      outline: var(--h-select-border-width-focused) solid var(--h-select-border-color-focus);
      outline-offset: -1px;
    }

    &:where([data-validation-status='valid']) {
      --h-select-border: var(--h-feedback-positive-border);
      --h-select-border-color-focus: var(--h-feedback-positive-border);
    }

    &:where([data-validation-status='invalid']) {
      --h-select-border: var(--h-feedback-danger-border);
      --h-select-border-color-focus: var(--h-feedback-danger-border);
    }

    & :where(.hearth-SelectTriggerIcon) {
      display: inline-flex;
      align-items: center;
      color: var(--h-text-primary);
    }
  }
}

.hearth-SelectDropdown {
  display: flex;
  flex-direction: column;
  gap: var(--h-select-dropdown-gap);
  align-items: flex-start;
  padding: var(--h-select-dropdown-padding);
  background-color: var(--h-surface-neutral-strong);
  min-width: var(--h-select-min-width);
  max-width: var(--h-select-max-width);
  border: var(--h-select-dropdown-border-width) solid var(--h-border-subtle);
  border-radius: var(--h-select-border-radius);
  color: var(--h-interactive-functional-foreground-subtle);

  & :where(.hearth-SelectViewport) {
    width: 100%;
  }

  & :where(.hearth-SelectItem) {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--h-select-dropdown-item-gap);
    padding: var(--h-select-dropdown-item-padding);
    font-family: var(--h-font-family-body);
    font-size: var(--h-body-text-md-font-size);
    font-weight: var(--h-font-weight-regular);
    line-height: var(--h-body-text-md-line-height);
    color: var(--h-interactive-functional-foreground-subtle);
    border-radius: var(--h-select-dropdown-item-border-radius);
    user-select: none;

    &:where([data-highlighted]) {
      background-color: var(--h-interactive-functional-surface-subtle-hover);
      outline: none;
    }

    &:where(:active):not([data-disabled]) {
      background-color: var(--h-interactive-functional-surface-subtle-active);
    }
  }

  & :where(span[aria-hidden='true']:has(svg)) {
    display: inline-flex;
    align-items: center;
  }
}
