.hearth-BodyText {
  font-family: var(--font-family-body);

  &:where([data-truncate]) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @breakpoints {
    &:where(.hearth-r-size-sm) {
      font-size: var(--body-text-sm-font-size);
    }

    &:where(.hearth-r-size-md) {
      font-size: var(--body-text-md-font-size);
    }

    &:where(.hearth-r-size-lg) {
      font-size: var(--body-text-lg-font-size);
    }
  }
}
