.hearth-BodyText {
  font-family: var(--font-family-body-text);

  &:where(.hearth-paragraph-spacing) {
    margin-bottom: 1em;
  }

  @breakpoints {
    &:where(.hearth-r-size-sm) {
      font-size: var(--body-text-sm-font-size);
    }

    &:where(.hearth-r-size-md) {
      font-size: var(--body-text-md-font-size);
    }

    &:where(.hearth-r-size-lg) {
      font-size: var(--body-text-lg-font-size);
    }
  }
}
