.hearth-FormGroupBase {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--h-space-75);

  & :where(.hearth-Legend):not(:has(+ .hearth-HelperTextContainer)) {
    /* enable flex gap when there is no additional text */
    display: contents;
  }

  .hearth-Legend {
    color: var(--h-text-primary);

    /* only apply text styles if the legend doesn't have another element as a child, ie. a Heading component */
    &:where(:not(:has(*))) {
      font-family: var(--h-font-family-body);
      font-weight: var(--h-font-weight-semibold);
      font-size: var(--h-font-size-100);
      line-height: var(--h-line-height-500);
    }
  }
}
