.h-FormGroupBase {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--h-space-75);

  & :where(legend):not(:has(+ .h-FormGroupBaseHelperTextContainer)) {
    /* enable flex gap when there is no additional text */
    display: contents;
  }

  & :where(legend) {
    color: var(--h-text-primary);

    /* only apply text styles if the legend doesn't have another element as a child, ie. a Heading component */
    &:where(:not(:has(*))) {
      &:where([data-label-variant='body']) {
        font-family: var(--h-font-family-body);
        font-weight: var(--h-font-weight-semibold);
        font-size: var(--h-body-text-md-font-size);
        line-height: var(--h-body-text-md-line-height);
      }

      &:where([data-label-variant='heading']) {
        font-family: var(--h-font-family-heading);
        font-weight: var(--h-font-weight-semibold);
        font-size: var(--h-heading-md-font-size-mobile);
        line-height: var(--h-heading-md-line-height-mobile);
      }
    }
  }
}
