.hearth-Heading {
  font-family: var(--h-font-family-heading);
  font-weight: var(--h-font-weight-semibold);
  color: var(--h-text-primary);

  &:where([data-inverted]) {
    color: var(--h-text-inverted);
  }

  &:where(.hearth-size-sm) {
    font-size: var(--h-heading-sm-font-size-mobile);
    line-height: var(--h-heading-sm-line-height-mobile);
  }

  &:where(.hearth-size-md) {
    font-size: var(--h-heading-md-font-size-mobile);
    line-height: var(--h-heading-md-line-height-mobile);

    @media (--h-desktop) {
      font-size: var(--h-heading-md-font-size-desktop);
      line-height: var(--h-heading-md-line-height-desktop);
    }
  }

  &:where(.hearth-size-lg) {
    font-size: var(--h-heading-lg-font-size-mobile);
    line-height: var(--h-heading-lg-line-height-mobile);

    @media (--h-desktop) {
      font-size: var(--h-heading-lg-font-size-desktop);
      line-height: var(--h-heading-lg-line-height-desktop);
    }
  }

  &:where(.hearth-size-xl) {
    font-size: var(--h-heading-xl-font-size-mobile);
    line-height: var(--h-heading-xl-line-height-mobile);
    font-weight: var(--h-font-weight-bold);

    @media (--h-desktop) {
      font-size: var(--h-heading-xl-font-size-desktop);
      line-height: var(--h-heading-xl-line-height-desktop);
    }
  }

  &:where(.hearth-size-2xl) {
    font-size: var(--h-heading-2xl-font-size-mobile);
    line-height: var(--h-heading-2xl-line-height-mobile);
    font-weight: var(--h-font-weight-bold);

    @media (--h-desktop) {
      font-size: var(--h-heading-2xl-font-size-desktop);
      line-height: var(--h-heading-2xl-line-height-desktop);
    }
  }
}
