.sidebar-container {
  background: var(--h-background-secondary) !important;
}

.sidebar-header div {
  margin-top: -20px;
}

/* selector for data-test-id="sb-preview-toolbar" - brave browser fix */
[data-testid='sb-preview-toolbar'] {
  margin-top: 0 !important;
}
