@breakpoints {
  .h-r-as-start {
    /* Fallback for flexbox in older browsers */
    align-self: flex-start;

    /* Modern browsers will override with this */
    align-self: start;
  }

  .h-r-as-center {
    align-self: center;
  }

  .h-r-as-end {
    /* Fallback for flexbox in older browsers */
    align-self: flex-end;

    /* Modern browsers will override with this */
    align-self: end;
  }

  .h-r-as-stretch {
    align-self: stretch;
  }
}
