@breakpoints {
  .h-r-radius-none {
    border-radius: var(--h-border-radius-none);
  }

  .h-r-radius-xs {
    border-radius: var(--h-border-radius-xs);
  }

  .h-r-radius-sm {
    border-radius: var(--h-border-radius-sm);
  }

  .h-r-radius-md {
    border-radius: var(--h-border-radius-md);
  }

  .h-r-radius-xl {
    border-radius: var(--h-border-radius-xl);
  }

  .h-r-radius-full {
    border-radius: var(--h-border-radius-full);
  }

  .h-r-radius-inherit {
    border-radius: inherit;
  }
}

.h-radius-tl-none {
  border-top-left-radius: var(--h-border-radius-none);
}

.h-radius-tr-none {
  border-top-right-radius: var(--h-border-radius-none);
}

.h-radius-br-none {
  border-bottom-right-radius: var(--h-border-radius-none);
}

.h-radius-bl-none {
  border-bottom-left-radius: var(--h-border-radius-none);
}

.h-radius-t-none {
  border-top-left-radius: var(--h-border-radius-none);
  border-top-right-radius: var(--h-border-radius-none);
}

.h-radius-r-none {
  border-top-right-radius: var(--h-border-radius-none);
  border-bottom-right-radius: var(--h-border-radius-none);
}

.h-radius-b-none {
  border-bottom-right-radius: var(--h-border-radius-none);
  border-bottom-left-radius: var(--h-border-radius-none);
}

.h-radius-l-none {
  border-top-left-radius: var(--h-border-radius-none);
  border-bottom-left-radius: var(--h-border-radius-none);
}
