/* stylelint-disable csstools/value-no-unknown-custom-properties */
@breakpoints {
  .h-r-width {
    width: var(--h-r-width);
  }

  .h-r-min-width {
    min-width: var(--h-r-min-width);
  }

  .h-r-max-width {
    max-width: var(--h-r-max-width);
  }
}
