.h-CardAccordion {
  display: flex;
  flex-direction: column;
  gap: var(--h-space-300);

  & :where(.h-CardAccordionItem) {
    display: flex;
    flex-direction: column;
    gap: var(--h-space-250);

    & :where(.h-CardAccordionItemHeader) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }

    & :where(.h-CardAccordionItemTrigger) {
      all: unset;

      &[aria-disabled='true'][data-state='open'] {
        opacity: 1;
      }

      &:where(:focus-visible) {
        outline: 2px solid var(--h-focus-primary);
        outline-offset: 1px;
      }
    }
  }

  & :where(.h-CardAccordionContent) {
    overflow: hidden;
  }

  & :where(.h-CardAccordionContent[data-state='open']) {
    animation: h-slide-down 300ms ease-out;
  }

  & :where(.h-CardAccordionContent[data-state='closed']) {
    animation: h-slide-up 300ms ease-out;
  }
}

@keyframes h-slide-down {
  from {
    height: 0;
  }

  to {
    /* stylelint-disable-next-line custom-property-pattern, csstools/value-no-unknown-custom-properties -- Radix UI specific custom property */
    height: var(--radix-accordion-content-height);
  }
}

@keyframes h-slide-up {
  from {
    /* stylelint-disable-next-line custom-property-pattern, csstools/value-no-unknown-custom-properties -- Radix UI specific custom property */
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}
