.h-CardAccordion {
  display: flex;
  flex-direction: column;
  gap: var(--h-space-300);

  & :where(.h-CardAccordionItem) {
    display: flex;
    flex-direction: column;
    gap: var(--h-space-250);

    & :where(.h-CardAccordionItemHeader) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }

    & :where(.h-CardAccordionItemTrigger) {
      all: unset;

      &[aria-disabled='true'][data-state='open'] {
        opacity: 1;
      }

      &:where(:focus-visible) {
        outline: 2px solid var(--h-focus-primary);
        outline-offset: 1px;
      }
    }

    & :where(.h-CardAccordionItemContent) {
      display: flex;
      flex-direction: column;
      gap: var(--h-space-250);
    }
  }
}
