.h-CardAccordion {
  display: flex;
  flex-direction: column;
  gap: var(--h-space-300);

  & :where(.h-CardAccordionItem) {
    display: flex;
    flex-direction: column;
    gap: var(--h-space-250);

    & :where(.h-CardAccordionItemHeader) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }

    & :where(.h-CardAccordionItemTrigger) {
      all: unset;
      border-radius: var(--h-button-border-radius);

      &[aria-disabled='true'][data-state='open'] {
        opacity: 1;
      }
    }

    & :where(.h-CardAccordionItemContent) {
      display: flex;
      flex-direction: column;
      gap: var(--h-space-250);
    }

    &:has(.h-CardAccordionItemTrigger:focus-visible) {
      outline: 2px solid var(--h-focus-primary);
      outline-offset: 1px;
    }

    & :where(.h-CardAccordionFooter) {
      order: 1;

      & :where(button[data-action='previous']) {
        order: -1;
      }

      & :where(button[data-action='next']) {
        order: 1;
      }
    }
  }
}
