.hearth-Card {
  background-color: var(--h-card-background-color);
  border-radius: var(--h-card-border-radius);
  box-shadow: inset 0 0 0 var(--h-card-border-width) var(--h-card-border-color);
  padding: var(--h-card-padding-mobile);

  /* we're setting this as the default so that non-white cards continue to have
   the emphasis appearance even if the subtle variant is accidentally applied */
  --h-card-background-color: var(--h-card-emphasis-background-color);
  --h-card-border-color: var(--h-card-emphasis-border-color);
  --h-card-border-width: var(--h-card-emphasis-border-width);

  @media (--h-tablet) {
    padding: var(--h-card-padding-tablet);
  }

  @media (--h-desktop) {
    padding: var(--h-card-padding-desktop);
  }

  &:where(.hearth-padding-none) {
    padding: var(--h-card-padding-none-mobile);
  }

  &:where(:has(:focus-visible)) {
    outline: 2px solid var(--h-focus-border);
    outline-offset: 1px;
  }

  &:where(.hearth-variant-emphasis) {
    --h-card-background-color: var(--h-card-emphasis-background-color);
    --h-card-border-color: var(--h-card-emphasis-border-color);
    --h-card-border-width: var(--h-card-emphasis-border-width);
  }

  &:where(.hearth-variant-subtle):where(
      [data-colorscheme='white'],
      [data-colorscheme='warm-white']
    ) {
    --h-card-border-color: var(--h-card-subtle-border-color);
    --h-card-border-width: var(--h-card-subtle-border-width);
  }

  &:where(.hearth-variant-subtle) {
    --h-card-background-color: var(--h-card-subtle-background-color);
  }

  &:where([data-colorscheme='white']) {
    background-color: var(--h-card-white-background-color);
  }

  &:where([data-colorscheme='warm-white']) {
    background-color: var(--h-card-warm-white-background-color);
  }

  &:where([data-colorscheme='purple']) {
    --h-card-emphasis-background-color: var(--h-card-emphasis-purple-background-color);
    --h-card-subtle-background-color: var(--h-card-subtle-purple-background-color);
  }

  &:where([data-colorscheme='energy-blue']) {
    --h-card-emphasis-background-color: var(--h-card-emphasis-energy-blue-background-color);
    --h-card-subtle-background-color: var(--h-card-subtle-energy-blue-background-color);
  }

  &:where([data-colorscheme='broadband-green']) {
    --h-card-emphasis-background-color: var(--h-card-emphasis-broadband-green-background-color);
    --h-card-subtle-background-color: var(--h-card-subtle-broadband-green-background-color);
  }

  &:where([data-colorscheme='mobile-rose']) {
    --h-card-emphasis-background-color: var(--h-card-emphasis-mobile-rose-background-color);
    --h-card-subtle-background-color: var(--h-card-subtle-mobile-rose-background-color);
  }

  &:where([data-colorscheme='insurance-orange']) {
    --h-card-emphasis-background-color: var(--h-card-emphasis-insurance-orange-background-color);
    --h-card-subtle-background-color: var(--h-card-subtle-insurance-orange-background-color);
  }

  &:where([data-colorscheme='cashback-lilac']) {
    --h-card-emphasis-background-color: var(--h-card-emphasis-cashback-lilac-background-color);
    --h-card-subtle-background-color: var(--h-card-subtle-cashback-lilac-background-color);
  }

  &:where([data-selectable]) {
    @media (hover: hover) {
      cursor: pointer;

      &:where(:hover) {
        &:where(.hearth-color-scheme-white) {
          background-color: var(--h-card-white-background-color-hover);
        }

        &:where(.hearth-color-scheme-warm-white) {
          background-color: var(--h-card-warm-white-background-color-hover);
        }
      }
    }

    &:where(:active) {
      &:where(.hearth-color-scheme-white) {
        background-color: var(--h-card-white-background-color-active);
      }

      &:where(.hearth-color-scheme-warm-white) {
        background-color: var(--h-card-warm-white-background-color-active);
      }
    }

    &:where(:has(:focus-visible)) {
      outline: 2px solid var(--h-focus-border);
      outline-offset: 1px;
    }
  }

  &:has(.hearth-CardAction) {
    position: relative;
  }
}
