.hearth-Card {
  position: relative;
  background-color: var(--h-card-background-color);
  border-radius: var(--h-card-border-radius);
  border: var(--h-card-border-width) solid var(--h-card-border-color);
  padding: var(--h-card-padding-mobile);

  @media (--h-tablet) {
    padding: var(--h-card-padding-tablet);
  }

  @media (--h-desktop) {
    padding: var(--h-card-padding-desktop);
  }

  &:where(.hearth-padding-none) {
    padding: 0;
  }

  &:where(:has(:focus-visible)) {
    outline: 2px solid var(--h-focus-border);
    outline-offset: 1px;
  }

  &:where(.hearth-variant-emphasis) {
    --h-card-border-color: var(--h-card-brand-emphasis-border-color);
    --h-card-border-width: var(--h-card-brand-border-width);
    --h-card-background-color: var(--h-card-emphasis-background-color);

    &:where([data-colorscheme='white'], [data-colorscheme='warm-white']) {
      --h-card-border-color: var(--h-card-neutral-emphasis-border-color);
      --h-card-border-width: var(--h-card-neutral-emphasis-border-width);
    }
  }

  &:where(.hearth-variant-subtle) {
    --h-card-border-color: var(--h-card-brand-subtle-border-color);
    --h-card-border-width: var(--h-card-brand-border-width);
    --h-card-background-color: var(--h-card-subtle-background-color);

    &:where([data-colorscheme='white'], [data-colorscheme='warm-white']) {
      --h-card-border-color: var(--h-card-neutral-subtle-border-color);
      --h-card-border-width: var(--h-card-neutral-subtle-border-width);
    }
  }

  &:where([data-colorscheme='white']) {
    background-color: var(--h-card-neutral-white-background-color);
  }

  &:where([data-colorscheme='warm-white']) {
    background-color: var(--h-card-neutral-warm-white-background-color);
  }

  &:where([data-colorscheme='purple']) {
    --h-card-emphasis-background-color: var(--h-card-brand-emphasis-purple-background-color);
    --h-card-subtle-background-color: var(--h-card-brand-subtle-purple-background-color);
  }

  &:where([data-colorscheme='energy-blue']) {
    --h-card-emphasis-background-color: var(--h-card-brand-emphasis-energy-blue-background-color);
    --h-card-subtle-background-color: var(--h-card-brand-subtle-energy-blue-background-color);
  }

  &:where([data-colorscheme='broadband-green']) {
    --h-card-emphasis-background-color: var(
      --h-card-brand-emphasis-broadband-green-background-color
    );
    --h-card-subtle-background-color: var(--h-card-brand-subtle-broadband-green-background-color);
  }

  &:where([data-colorscheme='mobile-rose']) {
    --h-card-emphasis-background-color: var(--h-card-brand-emphasis-mobile-rose-background-color);
    --h-card-subtle-background-color: var(--h-card-brand-subtle-mobile-rose-background-color);
  }

  &:where([data-colorscheme='insurance-orange']) {
    --h-card-emphasis-background-color: var(
      --h-card-brand-emphasis-insurance-orange-background-color
    );
    --h-card-subtle-background-color: var(--h-card-brand-subtle-insurance-orange-background-color);
  }

  &:where([data-colorscheme='cashback-lilac']) {
    --h-card-emphasis-background-color: var(
      --h-card-brand-emphasis-cashback-lilac-background-color
    );
    --h-card-subtle-background-color: var(--h-card-brand-subtle-cashback-lilac-background-color);
  }

  &:where([data-selectable]) {
    @media (hover: hover) {
      cursor: pointer;

      &:where(:hover) {
        &:where(.hearth-color-scheme-white) {
          background-color: var(--h-card-neutral-white-background-color-hover);
        }

        &:where(.hearth-color-scheme-warm-white) {
          background-color: var(--h-card-neutral-warm-white-background-color-hover);
        }
      }
    }

    &:where(:active) {
      &:where(.hearth-color-scheme-white) {
        background-color: var(--h-card-neutral-white-background-color-active);
      }

      &:where(.hearth-color-scheme-warm-white) {
        background-color: var(--h-card-neutral-warm-white-background-color-active);
      }
    }

    &:where(:has(:focus-visible)) {
      outline: 2px solid var(--h-focus-border);
      outline-offset: 1px;
    }
  }
}
