.h-CardInteraction {
  &:where([data-secondary]) {
    &:where(a[href], button),
    :where(a[href], button) {
      position: relative;
      z-index: 1;
    }
  }

  &:not([data-secondary]) {
    &:where(a[href], button),
    :where(a[href], button) {
      &:where(:focus-visible) {
        outline: none;
      }

      &::after {
        z-index: 0;
        content: '';
        position: absolute;
        inset: 0;

        &:where(:not([data-disabled], [data-disabled] &)) {
          cursor: pointer;
        }
      }
    }
  }
}
