.h-Table {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  & :where(table) {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: var(--h-font-family-body);
    font-size: var(--h-font-size-100);
    line-height: var(--h-line-height-500);
  }

  & :where(.h-TableRow) {
    border-bottom: var(--h-table-cell-border-width) solid var(--h-border-subtle);

    &:where([data-table-container='card']:not(:has(.h-TablePagination)) &):last-child {
      border-bottom: none;
    }
  }

  & :where(.h-TableHeader) {
    border-bottom: var(--h-table-header-cell-border-width) solid var(--h-border-subtle);
    background-color: var(--h-surface-neutral-strong);

    &:where([data-table-container='card'] &) {
      background-color: var(--h-surface-brand-default);
      color: var(--h-text-inverted);
      border-bottom-color: var(--h-border-strong);
    }
  }

  & :where(.h-TableHeaderCell) {
    padding-block: var(--h-table-header-cell-padding-vertical);
    padding-inline: var(--h-table-header-cell-padding-horizontal);
    text-align: left;
    white-space: nowrap;

    &:not([scope='row']) {
      font-weight: var(--h-body-text-font-weight-semibold);
    }
  }

  & :where(.h-TableCell) {
    padding: var(--h-table-cell-padding);
    color: var(--h-text-primary);
    min-height: var(--h-table-cell-min-height);
  }

  & :where(.h-TablePagination) {
    padding-block: var(--h-space-200);
    padding-inline: var(--h-space-300);
  }
}
