.h-DetailText {
  font-family: var(--h-font-family-detail), Courier, monospace;
  font-weight: var(--h-detail-text-font-weight);

  &:where(.h-color-text) {
    color: var(--h-text-primary);
  }

  &:where(.h-color-valid) {
    color: var(--h-feedback-positive-foreground-subtle);
  }

  &:where(.h-color-invalid) {
    color: var(--h-feedback-danger-foreground-subtle);
  }

  &:where([data-inverted]) {
    color: var(--h-text-inverted);
  }

  @breakpoints {
    &:where(.h-r-size-sm) {
      font-size: var(--h-detail-text-sm-font-size);
      line-height: var(--h-detail-text-sm-line-height);
      letter-spacing: var(--h-detail-text-sm-letter-spacing);
    }

    &:where(.h-r-size-md) {
      font-size: var(--h-detail-text-md-font-size);
      line-height: var(--h-detail-text-md-line-height);
      letter-spacing: var(--h-detail-text-md-letter-spacing);
    }

    &:where(.h-r-size-lg) {
      font-size: var(--h-detail-text-lg-font-size);
      line-height: var(--h-detail-text-lg-line-height);
      letter-spacing: var(--h-detail-text-lg-letter-spacing);
    }

    &:where(.h-r-size-xl) {
      font-size: var(--h-detail-text-xl-font-size);
      line-height: var(--h-detail-text-xl-line-height);
      letter-spacing: var(--h-detail-text-xl-letter-spacing);
    }

    &:where(.h-r-size-2xl) {
      font-size: var(--h-detail-text-2xl-font-size);
      line-height: var(--h-detail-text-2xl-line-height);
      letter-spacing: var(--h-detail-text-2xl-letter-spacing);
    }

    &:where(.h-r-size-3xl) {
      font-size: var(--h-detail-text-3xl-font-size);
      line-height: var(--h-detail-text-3xl-line-height);
      letter-spacing: var(--h-detail-text-3xl-letter-spacing);
    }

    &:where(.h-r-size-4xl) {
      font-size: var(--h-detail-text-4xl-font-size);
      line-height: var(--h-detail-text-4xl-line-height);
      letter-spacing: var(--h-detail-text-4xl-letter-spacing);
    }
  }
}
