.hearth-DetailText {
  font-family: var(--font-family-detail-text);

  @breakpoints {
    &:where(.hearth-r-size-sm) {
      font-size: var(--detail-text-sm-font-size);
    }

    &:where(.hearth-r-size-md) {
      font-size: var(--detail-text-md-font-size);
    }

    &:where(.hearth-r-size-lg) {
      font-size: var(--detail-text-lg-font-size);
    }
    &:where(.hearth-r-size-xl) {
      font-size: var(--detail-text-xl-font-size);
    }
    &:where(.hearth-r-size-2xl) {
      font-size: var(--detail-text-2xl-font-size);
    }
    &:where(.hearth-r-size-3xl) {
      font-size: var(--detail-text-3xl-font-size);
    }
    &:where(.hearth-r-size-4xl) {
      font-size: var(--detail-text-4xl-font-size);
    }
  }
}
