.hearth-DetailText {
  font-family: var(--h-font-family-detail-text);

  &:where(.hearth-text-color-text) {
    color: var(--h-text-color);
  }

  &:where(.hearth-text-color-valid) {
    color: var(--h-text-color-valid);
  }

  &:where(.hearth-text-color-invalid) {
    color: var(--h-text-color-invalid);
  }

  &:where([data-inverted]) {
    color: var(--h-text-color-inverted);
  }

  @breakpoints {
    &:where(.hearth-r-size-sm) {
      font-size: var(--h-detail-text-sm-font-size);
      line-height: var(--h-detail-text-sm-line-height);
      letter-spacing: var(--h-detail-text-sm-letter-spacing);
    }

    &:where(.hearth-r-size-md) {
      font-size: var(--h-detail-text-md-font-size);
      line-height: var(--h-detail-text-md-line-height);
      letter-spacing: var(--h-detail-text-md-letter-spacing);
    }

    &:where(.hearth-r-size-lg) {
      font-size: var(--h-detail-text-lg-font-size);
      line-height: var(--h-detail-text-lg-line-height);
      letter-spacing: var(--h-detail-text-lg-letter-spacing);
    }

    &:where(.hearth-r-size-xl) {
      font-size: var(--h-detail-text-xl-font-size);
      line-height: var(--h-detail-text-xl-line-height);
      letter-spacing: var(--h-detail-text-xl-letter-spacing);
    }

    &:where(.hearth-r-size-2xl) {
      font-size: var(--h-detail-text-2xl-font-size);
      line-height: var(--h-detail-text-2xl-line-height);
      letter-spacing: var(--h-detail-text-2xl-letter-spacing);
    }

    &:where(.hearth-r-size-3xl) {
      font-size: var(--h-detail-text-3xl-font-size);
      line-height: var(--h-detail-text-3xl-line-height);
      letter-spacing: var(--h-detail-text-3xl-letter-spacing);
    }

    &:where(.hearth-r-size-4xl) {
      font-size: var(--h-detail-text-4xl-font-size);
      line-height: var(--h-detail-text-4xl-line-height);
      letter-spacing: var(--h-detail-text-4xl-letter-spacing);
    }
  }
}
