.h-CheckboxGroup {
  & :where(.h-CheckboxGroupContent) {
    flex-wrap: wrap;

    &:where([data-orientation='horizontal']) {
      flex-direction: row;
    }

    &:where([data-orientation='vertical']) {
      flex-direction: column;
      width: fit-content;
    }

    gap: var(--h-checkbox-group-stack-gap);

    &:has(.h-CheckboxTile) {
      gap: var(--h-checkbox-tile-group-stack-gap);
    }
  }
}
