.hearth-ListItemContent {
  width: 100%;
  display: flex;
  gap: var(--h-list-item-gap);
  align-items: center;

  &:has(.hearth-HelperText) {
    align-items: start;
  }

  & :where(.hearth-ListItemContentTrailingContent) {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    align-self: center;

    &:has(.hearth-Switch, .hearth-Link) {
      justify-content: start;
    }
  }
}
