.hearth-Grid {
  box-sizing: border-box;
  display: grid;
  align-items: stretch;
  justify-content: flex-start;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: none;

  &:where([data-responsive-columns]) {
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @media (--tablet) {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    @media (--desktop) {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }

  @breakpoints {
    &:where(.hearth-r-columns-1) {
      grid-template-columns: minmax(0, 1fr);
    }

    &:where(.hearth-r-columns-2) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &:where(.hearth-r-columns-3) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &:where(.hearth-r-columns-4) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    &:where(.hearth-r-columns-5) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    &:where(.hearth-r-columns-6) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    &:where(.hearth-r-columns-7) {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }

    &:where(.hearth-r-columns-8) {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    &:where(.hearth-r-columns-9) {
      grid-template-columns: repeat(9, minmax(0, 1fr));
    }

    &:where(.hearth-r-columns-10) {
      grid-template-columns: repeat(10, minmax(0, 1fr));
    }

    &:where(.hearth-r-columns-11) {
      grid-template-columns: repeat(11, minmax(0, 1fr));
    }

    &:where(.hearth-r-columns-12) {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
}
