.h-Timeline {
  display: flex;
  flex-direction: column;
  list-style: none;

  &:where(.h-variant-progress) {
    & :where(.h-TimelineItemIndicator) {
      width: var(--h-timeline-progress-circle-width);
      height: var(--h-timeline-progress-circle-height);
    }
  }

  &:where(.h-variant-static) {
    & :where(.h-TimelineItemIndicator) {
      width: var(--h-timeline-static-circle-width);
      height: var(--h-timeline-static-circle-height);
    }
  }

  & :where(.h-TimelineItem) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: var(--h-timeline-gap);

    & :where(.h-TimelineItemRail) {
      flex-shrink: 0;

      & :where(.h-TimelineItemIndicator) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: var(--h-border-radius-full);

        &:where([data-state='complete']) {
          background-color: var(--h-interactive-brand-surface-strong-default);
          border: none;

          & > svg {
            color: var(--h-text-inverted);
          }
        }

        &:where([data-state='inactive']) {
          background-color: var(--h-color-grey-200);
          border: none;
        }

        &:where([data-state='incomplete']) {
          background-color: var(--h-background-primary);
          border: var(--h-border-width-2) solid var(--h-color-grey-400);
        }
      }

      & :where(.h-TimelineItemConnector) {
        flex: 1;
        width: var(--h-timeline-bar-width);
        margin-block: var(--h-space-25);

        &:where([data-state='complete']) {
          background-color: var(--h-interactive-brand-surface-strong-default);
        }

        &:where([data-state='inactive'], [data-state='incomplete']) {
          background-color: var(--h-color-grey-200);
        }
      }
    }

    & :where(.h-TimelineItemContent) {
      gap: var(--h-timeline-content-gap);
      padding-top: var(--h-timeline-content-padding-top);
      padding-bottom: var(--h-timeline-content-padding-bottom);
    }

    &:where(:last-child) {
      & :where(.h-TimelineItemConnector) {
        display: none;
      }

      & :where(.h-TimelineItemContent) {
        padding-bottom: 0;
      }
    }
  }
}
