@breakpoints {
  .hearth-r-flex-direction-row {
    flex-direction: row;
  }

  .hearth-r-flex-direction-column {
    flex-direction: column;
  }

  .hearth-r-flex-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .hearth-r-flex-direction-column-reverse {
    flex-direction: column-reverse;
  }
}

@breakpoints {
  .hearth-r-flex-basis {
    flex-basis: var(--r-flex-basis);
  }
}

@breakpoints {
  .hearth-r-flex-shrink {
    flex-shrink: var(--r-flex-shrink);
  }
}

@breakpoints {
  .hearth-r-flex-grow {
    flex-grow: var(--r-flex-grow);
  }
}
