@breakpoints {
  .hearth-r-flex-direction-row {
    flex-direction: row;
  }

  .hearth-r-flex-direction-column {
    flex-direction: column;
  }

  .hearth-r-flex-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .hearth-r-flex-direction-column-reverse {
    flex-direction: column-reverse;
  }
}

@breakpoints {
  .hearth-r-flex {
    flex: var(--h-r-flex);
  }
}

@breakpoints {
  .hearth-r-flex-basis {
    flex-basis: var(--h-r-flex-basis);
  }
}

@breakpoints {
  .hearth-r-flex-shrink {
    flex-shrink: var(--h-r-flex-shrink);
  }
}

@breakpoints {
  .hearth-r-flex-grow {
    flex-grow: var(--h-r-flex-grow);
  }
}

@breakpoints {
  .hearth-r-flex-wrap-nowrap {
    flex-wrap: nowrap;
  }

  .hearth-r-flex-wrap-wrap {
    flex-wrap: wrap;
  }

  .hearth-r-flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
