@breakpoints {
  .hearth-r-gap {
    gap: var(--r-gap);
  }

  .hearth-r-gap-0 {
    gap: 0;
  }

  .hearth-r-gap-25 {
    gap: var(--space-25);
  }

  .hearth-r-gap-50 {
    gap: var(--space-50);
  }

  .hearth-r-gap-75 {
    gap: var(--space-75);
  }

  .hearth-r-gap-100 {
    gap: var(--space-100);
  }

  .hearth-r-gap-150 {
    gap: var(--space-150);
  }

  .hearth-r-gap-200 {
    gap: var(--space-200);
  }

  .hearth-r-gap-250 {
    gap: var(--space-250);
  }

  .hearth-r-gap-300 {
    gap: var(--space-300);
  }

  .hearth-r-gap-350 {
    gap: var(--space-350);
  }

  .hearth-r-gap-400 {
    gap: var(--space-400);
  }

  .hearth-r-gap-500 {
    gap: var(--space-500);
  }

  .hearth-r-gap-600 {
    gap: var(--space-600);
  }

  .hearth-r-gap-700 {
    gap: var(--space-700);
  }

  .hearth-r-gap-800 {
    gap: var(--space-800);
  }

  .hearth-r-gap-900 {
    gap: var(--space-900);
  }

  .hearth-r-gap-1000 {
    gap: var(--space-1000);
  }
}
