@breakpoints {
  .hearth-r-margin-0 {
    margin: 0;
  }

  .hearth-r-margin-25 {
    margin: var(--h-space-25);
  }

  .hearth-r-margin-50 {
    margin: var(--h-space-50);
  }

  .hearth-r-margin-75 {
    margin: var(--h-space-75);
  }

  .hearth-r-margin-100 {
    margin: var(--h-space-100);
  }

  .hearth-r-margin-150 {
    margin: var(--h-space-150);
  }

  .hearth-r-margin-175 {
    margin: var(--h-space-175);
  }

  .hearth-r-margin-200 {
    margin: var(--h-space-200);
  }

  .hearth-r-margin-250 {
    margin: var(--h-space-250);
  }

  .hearth-r-margin-300 {
    margin: var(--h-space-300);
  }

  .hearth-r-margin-350 {
    margin: var(--h-space-350);
  }

  .hearth-r-margin-400 {
    margin: var(--h-space-400);
  }

  .hearth-r-margin-500 {
    margin: var(--h-space-500);
  }

  .hearth-r-margin-600 {
    margin: var(--h-space-600);
  }

  .hearth-r-margin-700 {
    margin: var(--h-space-700);
  }

  .hearth-r-margin-800 {
    margin: var(--h-space-800);
  }

  .hearth-r-margin-900 {
    margin: var(--h-space-900);
  }

  .hearth-r-margin-1000 {
    margin: var(--h-space-1000);
  }
}

@breakpoints {
  .hearth-r-margin-inline-0 {
    margin-inline: 0;
  }

  .hearth-r-margin-inline-25 {
    margin-inline: var(--h-space-25);
  }

  .hearth-r-margin-inline-50 {
    margin-inline: var(--h-space-50);
  }

  .hearth-r-margin-inline-75 {
    margin-inline: var(--h-space-75);
  }

  .hearth-r-margin-inline-100 {
    margin-inline: var(--h-space-100);
  }

  .hearth-r-margin-inline-150 {
    margin-inline: var(--h-space-150);
  }

  .hearth-r-margin-inline-175 {
    margin-inline: var(--h-space-175);
  }

  .hearth-r-margin-inline-200 {
    margin-inline: var(--h-space-200);
  }

  .hearth-r-margin-inline-250 {
    margin-inline: var(--h-space-250);
  }

  .hearth-r-margin-inline-300 {
    margin-inline: var(--h-space-300);
  }

  .hearth-r-margin-inline-350 {
    margin-inline: var(--h-space-350);
  }

  .hearth-r-margin-inline-400 {
    margin-inline: var(--h-space-400);
  }

  .hearth-r-margin-inline-500 {
    margin-inline: var(--h-space-500);
  }

  .hearth-r-margin-inline-600 {
    margin-inline: var(--h-space-600);
  }

  .hearth-r-margin-inline-700 {
    margin-inline: var(--h-space-700);
  }

  .hearth-r-margin-inline-800 {
    margin-inline: var(--h-space-800);
  }

  .hearth-r-margin-inline-900 {
    margin-inline: var(--h-space-900);
  }

  .hearth-r-margin-inline-1000 {
    margin-inline: var(--h-space-1000);
  }
}

@breakpoints {
  .hearth-r-margin-block-0 {
    margin-block: 0;
  }

  .hearth-r-margin-block-25 {
    margin-block: var(--h-space-25);
  }

  .hearth-r-margin-block-50 {
    margin-block: var(--h-space-50);
  }

  .hearth-r-margin-block-75 {
    margin-block: var(--h-space-75);
  }

  .hearth-r-margin-block-100 {
    margin-block: var(--h-space-100);
  }

  .hearth-r-margin-block-150 {
    margin-block: var(--h-space-150);
  }

  .hearth-r-margin-block-175 {
    margin-block: var(--h-space-175);
  }

  .hearth-r-margin-block-200 {
    margin-block: var(--h-space-200);
  }

  .hearth-r-margin-block-250 {
    margin-block: var(--h-space-250);
  }

  .hearth-r-margin-block-300 {
    margin-block: var(--h-space-300);
  }

  .hearth-r-margin-block-350 {
    margin-block: var(--h-space-350);
  }

  .hearth-r-margin-block-400 {
    margin-block: var(--h-space-400);
  }

  .hearth-r-margin-block-500 {
    margin-block: var(--h-space-500);
  }

  .hearth-r-margin-block-600 {
    margin-block: var(--h-space-600);
  }

  .hearth-r-margin-block-700 {
    margin-block: var(--h-space-700);
  }

  .hearth-r-margin-block-800 {
    margin-block: var(--h-space-800);
  }

  .hearth-r-margin-block-900 {
    margin-block: var(--h-space-900);
  }

  .hearth-r-margin-block-1000 {
    margin-block: var(--h-space-1000);
  }
}

@breakpoints {
  .hearth-r-margin-top-0 {
    margin-top: 0;
  }

  .hearth-r-margin-top-25 {
    margin-top: var(--h-space-25);
  }

  .hearth-r-margin-top-50 {
    margin-top: var(--h-space-50);
  }

  .hearth-r-margin-top-75 {
    margin-top: var(--h-space-75);
  }

  .hearth-r-margin-top-100 {
    margin-top: var(--h-space-100);
  }

  .hearth-r-margin-top-150 {
    margin-top: var(--h-space-150);
  }

  .hearth-r-margin-top-175 {
    margin-top: var(--h-space-175);
  }

  .hearth-r-margin-top-200 {
    margin-top: var(--h-space-200);
  }

  .hearth-r-margin-top-250 {
    margin-top: var(--h-space-250);
  }

  .hearth-r-margin-top-300 {
    margin-top: var(--h-space-300);
  }

  .hearth-r-margin-top-350 {
    margin-top: var(--h-space-350);
  }

  .hearth-r-margin-top-400 {
    margin-top: var(--h-space-400);
  }

  .hearth-r-margin-top-500 {
    margin-top: var(--h-space-500);
  }

  .hearth-r-margin-top-600 {
    margin-top: var(--h-space-600);
  }

  .hearth-r-margin-top-700 {
    margin-top: var(--h-space-700);
  }

  .hearth-r-margin-top-800 {
    margin-top: var(--h-space-800);
  }

  .hearth-r-margin-top-900 {
    margin-top: var(--h-space-900);
  }

  .hearth-r-margin-top-1000 {
    margin-top: var(--h-space-1000);
  }
}

@breakpoints {
  .hearth-r-margin-right-0 {
    margin-right: 0;
  }

  .hearth-r-margin-right-25 {
    margin-right: var(--h-space-25);
  }

  .hearth-r-margin-right-50 {
    margin-right: var(--h-space-50);
  }

  .hearth-r-margin-right-75 {
    margin-right: var(--h-space-75);
  }

  .hearth-r-margin-right-100 {
    margin-right: var(--h-space-100);
  }

  .hearth-r-margin-right-150 {
    margin-right: var(--h-space-150);
  }

  .hearth-r-margin-right-175 {
    margin-right: var(--h-space-175);
  }

  .hearth-r-margin-right-200 {
    margin-right: var(--h-space-200);
  }

  .hearth-r-margin-right-250 {
    margin-right: var(--h-space-250);
  }

  .hearth-r-margin-right-300 {
    margin-right: var(--h-space-300);
  }

  .hearth-r-margin-right-350 {
    margin-right: var(--h-space-350);
  }

  .hearth-r-margin-right-400 {
    margin-right: var(--h-space-400);
  }

  .hearth-r-margin-right-500 {
    margin-right: var(--h-space-500);
  }

  .hearth-r-margin-right-600 {
    margin-right: var(--h-space-600);
  }

  .hearth-r-margin-right-700 {
    margin-right: var(--h-space-700);
  }

  .hearth-r-margin-right-800 {
    margin-right: var(--h-space-800);
  }

  .hearth-r-margin-right-900 {
    margin-right: var(--h-space-900);
  }

  .hearth-r-margin-right-1000 {
    margin-right: var(--h-space-1000);
  }
}

@breakpoints {
  .hearth-r-margin-bottom-0 {
    margin-bottom: 0;
  }

  .hearth-r-margin-bottom-25 {
    margin-bottom: var(--h-space-25);
  }

  .hearth-r-margin-bottom-50 {
    margin-bottom: var(--h-space-50);
  }

  .hearth-r-margin-bottom-75 {
    margin-bottom: var(--h-space-75);
  }

  .hearth-r-margin-bottom-100 {
    margin-bottom: var(--h-space-100);
  }

  .hearth-r-margin-bottom-150 {
    margin-bottom: var(--h-space-150);
  }

  .hearth-r-margin-bottom-175 {
    margin-bottom: var(--h-space-175);
  }

  .hearth-r-margin-bottom-200 {
    margin-bottom: var(--h-space-200);
  }

  .hearth-r-margin-bottom-250 {
    margin-bottom: var(--h-space-250);
  }

  .hearth-r-margin-bottom-300 {
    margin-bottom: var(--h-space-300);
  }

  .hearth-r-margin-bottom-350 {
    margin-bottom: var(--h-space-350);
  }

  .hearth-r-margin-bottom-400 {
    margin-bottom: var(--h-space-400);
  }

  .hearth-r-margin-bottom-500 {
    margin-bottom: var(--h-space-500);
  }

  .hearth-r-margin-bottom-600 {
    margin-bottom: var(--h-space-600);
  }

  .hearth-r-margin-bottom-700 {
    margin-bottom: var(--h-space-700);
  }

  .hearth-r-margin-bottom-800 {
    margin-bottom: var(--h-space-800);
  }

  .hearth-r-margin-bottom-900 {
    margin-bottom: var(--h-space-900);
  }

  .hearth-r-margin-bottom-1000 {
    margin-bottom: var(--h-space-1000);
  }
}

@breakpoints {
  .hearth-r-margin-left-0 {
    margin-left: 0;
  }

  .hearth-r-margin-left-25 {
    margin-left: var(--h-space-25);
  }

  .hearth-r-margin-left-50 {
    margin-left: var(--h-space-50);
  }

  .hearth-r-margin-left-75 {
    margin-left: var(--h-space-75);
  }

  .hearth-r-margin-left-100 {
    margin-left: var(--h-space-100);
  }

  .hearth-r-margin-left-150 {
    margin-left: var(--h-space-150);
  }

  .hearth-r-margin-left-175 {
    margin-left: var(--h-space-175);
  }

  .hearth-r-margin-left-200 {
    margin-left: var(--h-space-200);
  }

  .hearth-r-margin-left-250 {
    margin-left: var(--h-space-250);
  }

  .hearth-r-margin-left-300 {
    margin-left: var(--h-space-300);
  }

  .hearth-r-margin-left-350 {
    margin-left: var(--h-space-350);
  }

  .hearth-r-margin-left-400 {
    margin-left: var(--h-space-400);
  }

  .hearth-r-margin-left-500 {
    margin-left: var(--h-space-500);
  }

  .hearth-r-margin-left-600 {
    margin-left: var(--h-space-600);
  }

  .hearth-r-margin-left-700 {
    margin-left: var(--h-space-700);
  }

  .hearth-r-margin-left-800 {
    margin-left: var(--h-space-800);
  }

  .hearth-r-margin-left-900 {
    margin-left: var(--h-space-900);
  }

  .hearth-r-margin-left-1000 {
    margin-left: var(--h-space-1000);
  }
}
