@breakpoints {
  .uwp-r-padding {
    padding: var(--padding);
  }
}

@breakpoints {
  .uwp-r-padding-inline {
    padding-inline: var(--padding-inline);
  }
}

@breakpoints {
  .uwp-r-padding-block {
    padding-block: var(--padding-block);
  }
}

@breakpoints {
  .uwp-r-padding-top {
    padding-top: var(--padding-top);
  }
}

@breakpoints {
  .uwp-r-padding-right {
    padding-right: var(--padding-right);
  }
}

@breakpoints {
  .uwp-r-padding-bottom {
    padding-bottom: var(--padding-bottom);
  }
}

@breakpoints {
  .uwp-r-padding-left {
    padding-left: var(--padding-left);
  }
}
