.hearth-spacing-xs {
  gap: var(--h-spacing-xs-mobile);
}

.hearth-spacing-sm {
  gap: var(--h-spacing-sm-mobile);
}

.hearth-spacing-md {
  gap: var(--h-spacing-md-mobile);
}

.hearth-spacing-lg {
  gap: var(--h-spacing-lg-mobile);

  @media (--h-tablet) {
    gap: var(--h-spacing-lg-tablet);
  }
}

.hearth-spacing-xl {
  gap: var(--h-spacing-xl-mobile);

  @media (--h-desktop) {
    gap: var(--h-spacing-xl-desktop);
  }
}
