@breakpoints {
  :where(.hearth-r-text-wrap-wrap) {
    text-wrap: wrap;
  }
  :where(.hearth-r-text-wrap-nowrap) {
    text-wrap: nowrap;
  }
  :where(.hearth-r-text-wrap-balance) {
    text-wrap: balance;
  }
  :where(.hearth-r-text-wrap-pretty) {
    text-wrap: pretty;
  }
}
