.uwp-HelperText {
  --color: var(--color-grey700);
  --color-disabled: var(--color-grey400);
  --color-valid: var(--color-green600);
  --color-invalid: var(--color-red600);

  display: inline-flex;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
  color: var(--color);
  gap: 8px;
  align-items: center;

  &:where([data-disabled], [data-disabled] &) {
    color: var(--color-disabled);
  }

  &:where([data-validation='valid']) {
    color: var(--color-valid);
  }

  &:where([data-validation='invalid']) {
    color: var(--color-invalid);
  }
}
