.hearth-ProgressBarLinear {
  display: flex;
  flex-direction: column;
  gap: var(--h-progress-bar-linear-gap);
  width: 100%;
}

.hearth-ProgressBarLinearContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--h-progress-bar-linear-label-gap);

  /* Value always aligns to the right */
  & :where(.hearth-ProgressBarValue) {
    margin-left: auto;
  }
}

.hearth-ProgressBarLinearIndicator {
  width: 100%;

  & :where(.hearth-ProgressBarLinearIndicatorBar) {
    width: 100%;

    /* TODO: Fix that variable */
    height: 12px;

    /* height: var(--h-progress-bar-linear-bar-height); */
    background-color: var(--h-progress-bar-bar-color);
    border-radius: var(--h-progress-bar-linear-bar-border-radius);
    overflow: hidden;
    position: relative;
  }

  & :where(.hearth-ProgressBarLinearIndicatorFill) {
    height: 100%;
    background-color: var(--h-progress-bar-progress-default-color);
    border-radius: var(--h-progress-bar-linear-bar-border-radius);
    transition: width 0.3s ease-in-out;
  }
}

/* Type variants */
.hearth-ProgressBarLinear[data-type='success'] {
  & :where(.hearth-ProgressBarLinearIndicatorFill) {
    background-color: var(--h-progress-bar-progress-success-color);
  }
}

.hearth-ProgressBarLinear[data-type='danger'] {
  & :where(.hearth-ProgressBarLinearIndicatorFill) {
    background-color: var(--h-progress-bar-progress-danger-color);
  }
}
