.hearth-Fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--h-space-250);

  & :where(legend):not(:has(+ .hearth-HelperTextContainer)) {
    margin-bottom: var(--h-space-75);
  }

  & :where(.hearth-HelperTextContainer) {
    margin-bottom: calc(-1 * calc(var(--h-space-250) - var(--h-space-75)));
  }
}
