.hearth-ListItemLink {
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--h-space-150);
  align-items: center;

  &::after {
    z-index: 0;
    content: '';
    position: absolute;
    inset: 0;
  }

  &:where(a:focus-visible) {
    outline: none;
  }
}
