@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./files/woff2/DMMono-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url('./files/woff2/DMMono-MediumItalic.woff2') format('woff2');
}
