@font-face {
  font-family: 'TMT Limkin Flare';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url('./files/woff2/TMTLimkin-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'TMT Limkin Flare';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./files/woff2/TMTLimkin-Bold.woff2') format('woff2');
}
