@import url('../../styles/tokens/alert.css');

.hearth-Alert {
  display: inline-flex;
  background-color: var(--h-alert-background-color);
  border-color: var(--h-alert-border-color);
  border-style: solid;
  border-width: var(--h-alert-border-width);
  padding: var(--h-alert-padding);
  gap: var(--h-alert-gap);
  border-radius: var(--h-alert-border-radius);
  isolation: isolate;

  .hearth-AlertContent {
    gap: var(--h-alert-content-gap);
  }

  &:where([data-colorscheme='blue']) {
    --h-alert-background-color: var(--h-alert-blue-background-color);
    --h-alert-border-color: var(--h-alert-blue-border-color);
  }

  &:where([data-colorscheme='green']) {
    --h-alert-background-color: var(--h-alert-green-background-color);
    --h-alert-border-color: var(--h-alert-green-border-color);
  }

  &:where([data-colorscheme='red']) {
    --h-alert-background-color: var(--h-alert-red-background-color);
    --h-alert-border-color: var(--h-alert-red-border-color);
  }

  &:where([data-colorscheme='orange']) {
    --h-alert-background-color: var(--h-alert-orange-background-color);
    --h-alert-border-color: var(--h-alert-orange-border-color);
  }

  .hearth-AlertIconButton {
    align-self: center;
  }

  .hearth-Alert-CloseButton {
    align-self: flex-start;
    z-index: 1;
  }

  .hearth-AlertLink {
    &:where([data-no-children='true']) {
      align-self: center;

      &::after {
        content: ' ';
        position: absolute;
        inset: 0;
        background: transparent;
        border: none;
        border-radius: inherit;
        z-index: 1;
      }
    }
  }

  /* When AlertButton is used, it should cover the whole alert */
  &:where([data-has-alert-button='true']) {
    position: relative;

    .hearth-AlertIconButton::after {
      content: ' ';
      position: absolute;
      inset: 0;
      background: transparent;
      border: none;
      border-radius: inherit;
      z-index: 1;
    }
  }
}
