.h-Alert {
  display: inline-flex;
  flex-direction: row;
  align-items: start;
  background-color: var(--h-alert-background-color);
  border-color: var(--h-alert-border-color);
  border-style: solid;
  border-width: var(--h-alert-border-width);
  padding: var(--h-alert-padding);
  gap: var(--h-alert-gap);
  border-radius: var(--h-alert-border-radius);
  position: relative;

  & :where(.h-AlertContent) {
    display: flex;
    flex-direction: column;
    gap: var(--h-alert-content-gap);
    flex: 1;

    & :where(div) {
      gap: var(--h-alert-content-gap);
    }

    &:has(.h-AlertLink) {
      flex-direction: column;
    }

    &:has(.h-AlertIconButton, .h-AlertLink[data-icon-only]) {
      flex-direction: row;
      align-items: center;
      gap: var(--h-alert-gap);
    }
  }

  .h-AlertCloseButton {
    z-index: 1;
  }

  .h-AlertLink {
    color: var(--h-alert-link-color);

    @media (hover: hover) {
      &:where(:hover) {
        color: var(--h-alert-link-color-hover);
      }
    }

    &:where(:active) {
      color: var(--h-alert-link-color-active);
    }
  }

  .h-AlertLink[data-icon-only] {
    &::after {
      content: ' ';
      position: absolute;
      inset: 0;
      background: transparent;
      border: none;
      border-radius: inherit;
      z-index: 1;
    }
  }

  &:where([data-colorscheme='info']) {
    --h-alert-background-color: var(--h-feedback-info-surface-subtle);
    --h-alert-border-color: var(--h-feedback-info-border);
  }

  &:where([data-colorscheme='positive']) {
    --h-alert-background-color: var(--h-feedback-positive-surface-subtle);
    --h-alert-border-color: var(--h-feedback-positive-border);
  }

  &:where([data-colorscheme='danger']) {
    --h-alert-background-color: var(--h-feedback-danger-surface-subtle);
    --h-alert-border-color: var(--h-feedback-danger-border);
  }

  &:where([data-colorscheme='warning']) {
    --h-alert-background-color: var(--h-feedback-warning-surface-subtle);
    --h-alert-border-color: var(--h-feedback-warning-border);
  }

  & :where(.h-AlertIconButton)::after {
    content: '';
    position: absolute;
    inset: 0;
    background: transparent;
    border: none;
    border-radius: inherit;
    z-index: 1;
  }

  .h-AlertIconButton {
    color: var(--h-alert-icon-button-unstyled-foreground-color);

    @media (hover: hover) {
      &:where(:hover) {
        color: var(--h-alert-icon-button-unstyled-foreground-color-hover);
      }
    }

    &:where(:active) {
      color: var(--h-alert-icon-button-unstyled-foreground-color-active);
    }
  }
}
