@import url('../../styles/tokens-legacy/alert.css');

.hearth-Alert {
  display: inline-flex;
  flex-direction: row;
  align-items: start;
  background-color: var(--h-alert-background-color);
  border-color: var(--h-alert-border-color);
  border-style: solid;
  border-width: var(--h-alert-border-width);
  padding: var(--h-alert-padding);
  gap: var(--h-alert-gap);
  border-radius: var(--h-alert-border-radius);
  position: relative;

  & :where(.hearth-AlertContent) {
    display: flex;
    flex-direction: column;
    gap: var(--h-alert-content-gap);

    & :where(div) {
      gap: var(--h-alert-content-gap);
    }

    &:has(.hearth-AlertLink) {
      flex-direction: column;
    }

    &:has(.hearth-AlertIconButton, .hearth-AlertLink[data-icon-only]) {
      flex-direction: row;
      align-items: center;
      gap: var(--h-alert-gap);
    }
  }

  .hearth-AlertCloseButton {
    z-index: 1;
  }

  .hearth-AlertLink[data-icon-only] {
    &::after {
      content: ' ';
      position: absolute;
      inset: 0;
      background: transparent;
      border: none;
      border-radius: inherit;
      z-index: 1;
    }
  }

  &:where([data-colorscheme='blue']) {
    --h-alert-background-color: var(--h-alert-blue-background-color);
    --h-alert-border-color: var(--h-alert-blue-border-color);
  }

  &:where([data-colorscheme='green']) {
    --h-alert-background-color: var(--h-alert-green-background-color);
    --h-alert-border-color: var(--h-alert-green-border-color);
  }

  &:where([data-colorscheme='red']) {
    --h-alert-background-color: var(--h-alert-red-background-color);
    --h-alert-border-color: var(--h-alert-red-border-color);
  }

  &:where([data-colorscheme='orange']) {
    --h-alert-background-color: var(--h-alert-orange-background-color);
    --h-alert-border-color: var(--h-alert-orange-border-color);
  }

  & :where(.hearth-AlertIconButton)::after {
    content: '';
    position: absolute;
    inset: 0;
    background: transparent;
    border: none;
    border-radius: inherit;
    z-index: 1;
  }
}
