.hearth-DatePicker {
  & :where(.hearth-DatePickerTrigger) {
    all: unset;
    outline: transparent;
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none; /* make inner text unselectable */
    vertical-align: top;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    touch-action: manipulation; /* make clicks not need to wait and observe a potential double click, making the buttons feel faster */
    transition: background-color 200ms ease-out;
    width: 100%;
    min-width: var(--h-date-picker-min-width);
    max-width: var(--h-date-picker-max-width);
    border: var(--h-input-border-width) solid var(--h-border-strong);
    border-radius: var(--h-input-border-radius);
    padding-inline: var(--h-input-padding-horizontal);
    padding-block: var(--h-input-padding-vertical);
  }

  & :where(.hearth-DatePickerTriggerValue, .hearth-DatePickerTriggerPlaceholder) {
    flex: 1;
    text-align: left;
  }

  & :where(.hearth-DatePickerTriggerPlaceholder) {
    color: var(--h-text-secondary);
  }

  & :where(.hearth-DatePickerTriggerIcon) {
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: inherit;
    margin-left: auto;
  }
}
