.hearth-DatePicker {
  min-width: var(--h-date-picker-min-width);
  max-width: var(--h-date-picker-max-width);

  /* stylelint-disable selector-class-pattern -- React Datepicker specific class names */
  .react-datepicker__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
  }
  /* stylelint-enable selector-class-pattern */

  & :where(.hearth-DatePickerTrigger) {
    all: unset;
    outline: transparent;
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none; /* make inner text unselectable */
    vertical-align: top;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    touch-action: manipulation; /* make clicks not need to wait and observe a potential double click, making the buttons feel faster */
    transition: background-color 200ms ease-out;
    width: 100%;
    border-color: var(--h-border-strong);
    border-width: var(--h-input-border-width);
    border-style: solid;
    border-radius: var(--h-input-border-radius);
    padding-inline: var(--h-input-padding-horizontal);
    padding-block: var(--h-input-padding-vertical);

    --h-input-border-color-focus: var(--h-border-strong);

    &:where([aria-disabled], [readonly]) {
      cursor: default;
    }

    &:where([readonly]) {
      border-color: var(--h-border-subtle);
    }

    &:where([data-validation-status='valid'] &) {
      border-color: var(--h-feedback-positive-border);

      --h-input-border-color-focus: var(--h-feedback-positive-border);
    }

    &:where([data-validation-status='invalid'] &) {
      border-color: var(--h-feedback-danger-border);

      --h-input-border-color-focus: var(--h-feedback-danger-border);
    }

    &:where(:focus-visible, [data-calendar-state='open']):not([aria-disabled]) {
      outline: var(--h-date-picker-border-width-focused) solid var(--h-input-border-color-focus);
      outline-offset: -1px;
    }
  }

  & :where(.hearth-DatePickerTriggerValue, .hearth-DatePickerTriggerPlaceholder) {
    flex: 1;
    text-align: left;
  }

  & :where(.hearth-DatePickerTriggerPlaceholder) {
    color: var(--h-text-secondary);
  }

  & :where(.hearth-DatePickerTriggerIcon) {
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: inherit;
    margin-left: auto;
  }
}
