.uwp-IconButton {
  height: var(--size);
  width: var(--size);

  @breakpoints {
    &:where(.uwp-r-size-medium) {
      --size: 3rem;
    }

    &:where(.uwp-r-size-small) {
      --size: 2rem;
    }

    &:where(.uwp-r-size-xsmall) {
      --size: 1.5rem;
    }
  }
}
