.uwp-IconButton {
  height: var(--uwp-icon-button-size);
  width: var(--uwp-icon-button-size);

  @breakpoints {
    &:where(.uwp-r-size-medium) {
      --uwp-icon-button-size: 3rem;
    }
    &:where(.uwp-r-size-small) {
      --uwp-icon-button-size: 2rem;
    }
    &:where(.uwp-r-size-xsmall) {
      --uwp-icon-button-size: 1.5rem;
    }
  }
}
