.hearth-ButtonBase {
  all: unset;
  outline: transparent;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  width: fit-content;
  height: fit-content;
  user-select: none; /* make inner text unselectable */
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation; /* make clicks not need to wait and observe a potential double click, making the buttons feel faster */
  transition: background-color 200ms ease-out;
  box-shadow: inset 0 0 0 var(--h-button-border-width) var(--h-button-base-border-color);
  border-radius: var(--h-button-border-radius);
  color: var(--h-button-base-foreground-color);
  background-color: var(--h-button-base-background-color);

  &:where([data-colorscheme='yellow']) {
    --h-solid-background-color: var(--h-button-solid-yellow-background-color);
    --h-solid-background-color-active: var(--h-button-solid-yellow-background-color-active);
    --h-solid-background-color-hover: var(--h-button-solid-yellow-background-color-hover);
    --h-solid-foreground-color: var(--h-button-solid-yellow-foreground-color);
    --h-solid-border-color: var(--h-button-solid-border-color);

    &:where([data-inverted]) {
      --h-solid-background-color: var(--h-button-solid-yellow-inverted-background-color);
      --h-solid-background-color-active: var(
        --h-button-solid-yellow-inverted-background-color-active
      );
      --h-solid-background-color-hover: var(
        --h-button-solid-yellow-inverted-background-color-hover
      );
      --h-solid-foreground-color: var(--h-button-solid-yellow-inverted-foreground-color);
    }

    --h-outline-border-color: transparent;
    --h-emphasis-background-color: var(--h-button-emphasis-yellow-background-color);
    --h-emphasis-background-color-active: var(--h-button-emphasis-yellow-background-color-active);
    --h-emphasis-background-color-hover: var(--h-button-emphasis-yellow-background-color-hover);
    --h-emphasis-foreground-color: var(--h-button-emphasis-yellow-foreground-color);
    --h-emphasis-shadow-color: var(--h-button-emphasis-shadow-color);
    --h-emphasis-border-color: var(--h-button-emphasis-border-color);
    --h-emphasis-transform: translateY(4px) translateX(4px);
  }

  &:where([data-colorscheme='green']) {
    --h-solid-background-color: var(--h-button-solid-green-background-color);
    --h-solid-background-color-active: var(--h-button-solid-green-background-color-active);
    --h-solid-background-color-hover: var(--h-button-solid-green-background-color-hover);
    --h-solid-foreground-color: var(--h-button-solid-green-foreground-color);
    --h-solid-border-color: var(--h-button-solid-border-color);
    --h-outline-background-color: var(--h-button-outline-green-background-color);
    --h-outline-background-color-active: var(--h-button-outline-green-background-color-active);
    --h-outline-background-color-hover: var(--h-button-outline-green-background-color-hover);
    --h-outline-foreground-color: var(--h-button-outline-green-foreground-color);
    --h-outline-border-color: var(--h-button-outline-green-border-color);
    --h-ghost-background-color: var(--h-button-ghost-green-background-color);
    --h-ghost-background-color-active: var(--h-button-ghost-green-background-color-active);
    --h-ghost-background-color-hover: var(--h-button-ghost-green-background-color-hover);
    --h-ghost-foreground-color: var(--h-button-ghost-green-foreground-color);
    --h-emphasis-border-color: transparent;
  }

  &:where([data-colorscheme='red']) {
    --h-solid-background-color: var(--h-button-solid-red-background-color);
    --h-solid-background-color-active: var(--h-button-solid-red-background-color-active);
    --h-solid-background-color-hover: var(--h-button-solid-red-background-color-hover);
    --h-solid-foreground-color: var(--h-button-solid-red-foreground-color);
    --h-solid-border-color: var(--h-button-solid-border-color);
    --h-outline-background-color: var(--h-button-outline-red-background-color);
    --h-outline-background-color-active: var(--h-button-outline-red-background-color-active);
    --h-outline-background-color-hover: var(--h-button-outline-red-background-color-hover);
    --h-outline-foreground-color: var(--h-button-outline-red-foreground-color);
    --h-outline-border-color: var(--h-button-outline-red-border-color);
    --h-ghost-background-color: var(--h-button-ghost-red-background-color);
    --h-ghost-background-color-active: var(--h-button-ghost-red-background-color-active);
    --h-ghost-background-color-hover: var(--h-button-ghost-red-background-color-hover);
    --h-ghost-foreground-color: var(--h-button-ghost-red-foreground-color);
    --h-emphasis-border-color: transparent;
  }

  &:where([data-colorscheme='grey']) {
    --h-outline-background-color: var(--h-button-outline-grey-background-color);
    --h-outline-background-color-active: var(--h-button-outline-grey-background-color-active);
    --h-outline-background-color-hover: var(--h-button-outline-grey-background-color-hover);
    --h-outline-foreground-color: var(--h-button-outline-grey-foreground-color);
    --h-outline-border-color: var(--h-button-outline-grey-border-color);
    --h-ghost-background-color: var(--h-button-ghost-grey-background-color);
    --h-ghost-background-color-active: var(--h-button-ghost-grey-background-color-active);
    --h-ghost-background-color-hover: var(--h-button-ghost-grey-background-color-hover);
    --h-ghost-foreground-color: var(--h-button-ghost-grey-foreground-color);

    &:where([data-inverted]) {
      --h-outline-background-color-active: var(
        --h-button-outline-grey-inverted-background-color-active
      );
      --outline-background-color-hover: var(
        --h-button-outline-grey-inverted-background-color-hover
      );
      --h-outline-foreground-color: var(--h-button-outline-grey-inverted-foreground-color);
      --h-outline-border-color: var(--h-button-outline-grey-inverted-border-color);
      --h-ghost-background-color-active: var(
        --h-button-ghost-grey-inverted-background-color-active
      );
      --h-ghost-background-color-hover: var(--h-button-ghost-grey-inverted-background-color-hover);
      --h-ghost-foreground-color: var(--h-button-ghost-grey-inverted-foreground-color);
    }

    --h-solid-border-color: transparent;
    --h-emphasis-border-color: transparent;
  }

  &:where(.hearth-variant-solid) {
    --h-button-base-foreground-color: var(--h-solid-foreground-color);
    --h-button-base-border-color: var(--h-solid-border-color);
    --h-button-base-background-color: var(--h-solid-background-color);
    --h-button-base-background-color-hover: var(--h-solid-background-color-hover);
    --h-button-base-background-color-active: var(--h-solid-background-color-active);
  }

  &:where(.hearth-variant-outline) {
    --h-button-base-foreground-color: var(--h-outline-foreground-color);
    --h-button-base-border-color: var(--h-outline-border-color);
    --h-button-base-background-color: transparent;
    --h-button-base-background-color-hover: var(--h-outline-background-color-hover);
    --h-button-base-background-color-active: var(--h-outline-background-color-active);
  }

  &:where(.hearth-variant-ghost) {
    --h-button-base-border-color: transparent;
    --h-button-base-foreground-color: var(--h-ghost-foreground-color);
    --h-button-base-background-color: transparent;
    --h-button-base-background-color-hover: var(--h-ghost-background-color-hover);
    --h-button-base-background-color-active: var(--h-ghost-background-color-active);
  }

  &:where(.hearth-variant-emphasis) {
    position: relative;
    box-shadow: none;

    & > .hearth-shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--h-button-border-radius);
      background: var(--h-emphasis-shadow-color);
      will-change: transform;
      transform: var(--h-emphasis-transform);
    }

    & > .hearth-front {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      box-shadow: inset 0 0 0 var(--h-button-border-width) var(--h-button-base-border-color);
      border-radius: var(--h-button-border-radius);
      color: var(--h-button-base-foreground-color);
      background-color: var(--h-button-base-background-color);
      position: relative;

      /* we can add a transition here when required */

      /* will-change: transform; */

      /* transition: transform 200ms ease-out; */
      --h-button-base-foreground-color: var(--h-emphasis-foreground-color);
      --h-button-base-border-color: var(--h-emphasis-border-color);
      --h-button-base-background-color: var(--h-emphasis-background-color);
      --h-button-base-background-color-hover: var(--h-emphasis-background-color-hover);
      --h-button-base-background-color-active: var(--h-emphasis-background-color-active);

      @media (hover: hover) {
        &:where(:hover):not([aria-disabled]) {
          --h-button-base-background-color: var(--h-button-base-background-color-hover);
        }
      }
    }
  }

  &:where(:focus-visible) {
    outline: 2px solid var(--h-focus-border);
    outline-offset: 1px;

    &:where([data-inverted]) {
      outline: 2px solid var(--h-focus-border-inverted);
    }

    & > .hearth-shadow {
      background: transparent;
    }
  }

  @media (hover: hover) {
    &:where(:hover):not([aria-disabled]) {
      --h-button-base-background-color: var(--h-button-base-background-color-hover);
    }
  }

  &:where([aria-disabled]) {
    cursor: not-allowed;
    opacity: var(--h-opacity-disabled);
  }

  &:where(:active):not([aria-disabled]) {
    transition-duration: 0s;

    --h-button-base-background-color: var(--h-button-base-background-color-active);

    & > .hearth-front {
      transform: var(--h-emphasis-transform);
    }
  }
}
