.hearth-SelectableCard {
  cursor: pointer;

  &:where([data-disabled], [data-disabled] &) {
    cursor: default;

    * {
      cursor: default;
    }
  }

  position: relative;
  box-shadow: inset 0 0 0 var(--h-card-subtle-border-width) var(--h-card-subtle-border-color);

  &:where(.hearth-border-radius-md) {
    border-radius: var(--h-border-radius-md);
  }

  &:where(.hearth-border-radius-xl) {
    border-radius: var(--h-border-radius-xl);
  }

  &:where([data-compact]) {
    padding: var(--h-space-150);
  }

  & :where(button):focus-visible {
    outline: none;
    outline-offset: unset;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  &:where(:has(:focus-visible)) {
    outline: 2px solid var(--h-focus-border);
    outline-offset: 1px;
  }

  @media (hover: hover) {
    &:where(:hover):not([data-disabled], [data-disabled] &) {
      background-color: var(--h-card-white-background-color-hover);
    }
  }

  &:where(
      [data-selected],
      :has([data-selected]),
      :has([aria-checked='true']),
      :has([data-state='checked'])
    ) {
    box-shadow: inset 0 0 0 var(--h-card-emphasis-border-width) var(--h-card-emphasis-border-color);
  }

  &:where(:active):not([data-disabled], [data-disabled] &) {
    background-color: var(--h-card-white-background-color-active);
  }
}
