.hearth-IconContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  /* Make sure that the height is not stretched in a Flex/Grid layout */
  height: fit-content;
  border-radius: var(--h-icon-container-border-radius);
  padding: var(--h-icon-container-padding);

  &:where(.hearth-variant-emphasis) {
    color: var(--h-icon-container-emphasis-color);
    background-color: var(--h-icon-container-emphasis-background-color);
  }

  &:where(.hearth-variant-subtle) {
    color: var(--h-icon-container-subtle-color);
    background-color: var(--h-icon-container-subtle-background-color);
  }

  @breakpoints {
    &:where(.hearth-r-size-lg) {
      --h-icon-container-border-radius: var(--h-icon-container-lg-border-radius-rounded);
      --h-icon-container-padding: var(--h-icon-container-lg-padding);
    }

    &:where(.hearth-r-size-md) {
      --h-icon-container-border-radius: var(--h-icon-container-md-border-radius-rounded);
      --h-icon-container-padding: var(--h-icon-container-md-padding);
    }

    &:where(.hearth-r-size-sm) {
      --h-icon-container-border-radius: var(--h-icon-container-sm-border-radius-rounded);
      --h-icon-container-padding: var(--h-icon-container-sm-padding);
    }
  }

  &:where([data-fill='height'], [data-fill='both']) {
    height: 100%;
  }

  &:where([data-fill='width'], [data-fill='both']) {
    width: 100%;
  }

  &:where([data-colorscheme='pig']) {
    --h-icon-container-emphasis-color: var(--h-text-primary);
    --h-icon-container-emphasis-background-color: var(--h-surface-pig-default);
    --h-icon-container-subtle-color: var(--h-text-primary);
    --h-icon-container-subtle-background-color: var(--h-surface-pig-subtle);
  }

  &:where([data-colorscheme='energy']) {
    --h-icon-container-emphasis-color: var(--h-text-primary);
    --h-icon-container-emphasis-background-color: var(--h-surface-energy-default);
    --h-icon-container-subtle-color: var(--h-text-primary);
    --h-icon-container-subtle-background-color: var(--h-surface-energy-subtle);
  }

  &:where([data-colorscheme='broadband']) {
    --h-icon-container-emphasis-color: var(--h-text-primary);
    --h-icon-container-emphasis-background-color: var(--h-surface-broadband-default);
    --h-icon-container-subtle-color: var(--h-text-primary);
    --h-icon-container-subtle-background-color: var(--h-surface-broadband-subtle);
  }

  &:where([data-colorscheme='mobile']) {
    --h-icon-container-emphasis-color: var(--h-text-primary);
    --h-icon-container-emphasis-background-color: var(--h-surface-mobile-default);
    --h-icon-container-subtle-color: var(--h-text-primary);
    --h-icon-container-subtle-background-color: var(--h-surface-mobile-subtle);
  }

  &:where([data-colorscheme='cashback']) {
    --h-icon-container-emphasis-color: var(--h-text-primary);
    --h-icon-container-emphasis-background-color: var(--h-surface-cashback-default);
    --h-icon-container-subtle-color: var(--h-text-primary);
    --h-icon-container-subtle-background-color: var(--h-surface-cashback-subtle);
  }

  &:where([data-colorscheme='insurance']) {
    --h-icon-container-emphasis-color: var(--h-text-primary);
    --h-icon-container-emphasis-background-color: var(--h-surface-insurance-default);
    --h-icon-container-subtle-color: var(--h-text-primary);
    --h-icon-container-subtle-background-color: var(--h-surface-insurance-subtle);
  }

  &:where([data-colorscheme='highlight']) {
    --h-icon-container-subtle-color: var(--h-text-primary);
    --h-icon-container-subtle-background-color: var(--h-surface-highlight-subtle);
  }
}
