@import url('../../styles/tokens/card.css');

.hearth-RadioCard {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: var(--h-card-selectable-gap);
  flex: 1 1 0%;
  background-color: var(--h-card-neutral-white-background-color);
  border-radius: var(--h-card-border-radius);
  box-shadow: inset 0 0 0 var(--h-card-neutral-subtle-border-width)
    var(--h-card-neutral-subtle-border-color);
  padding: var(--h-card-padding-mobile);

  @media (--h-tablet) {
    padding: var(--h-card-padding-tablet);
  }

  @media (--h-desktop) {
    padding: var(--h-card-padding-desktop);
  }

  cursor: pointer;

  * {
    cursor: pointer;
  }

  &:where([data-state='checked']) {
    box-shadow: inset 0 0 0 var(--h-card-neutral-emphasis-border-width)
      var(--h-card-neutral-emphasis-border-color);
  }

  &:where(:focus-visible) {
    outline: 2px solid var(--h-focus-border);
    outline-offset: 1px;
  }

  .hearth-RadioContainer {
    display: flex;
    flex-direction: row;
    gap: var(--h-space-150);
  }
}
