.h-CardActions {
  & :where(.h-CardActionsItem) {
    display: flex;
    position: relative;

    &:where([data-direction='column'] &):not(:first-child) {
      border-top: var(--h-card-border-width) solid var(--h-card-border-color);
    }

    &:where([data-direction='row'] &):not(:first-child) {
      border-left: var(--h-card-border-width) solid var(--h-card-border-color);
    }
  }
}
