.h-TextArea {
  all: unset;
  display: block;
  font-family: var(--h-font-family-body);
  font-weight: var(--h-font-weight-regular);
  font-size: var(--h-font-size-100);
  line-height: var(--h-line-height-500);
  font-style: normal;
  cursor: text;
  text-align: start;
  text-indent: initial;
  -webkit-tap-highlight-color: transparent;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  --h-textarea-padding-inline: calc(var(--h-input-padding-horizontal) - var(--h-space-100));
  padding-inline: var(--h-textarea-padding-inline);
  padding-block: calc(var(--h-input-padding-vertical) - var(--h-space-100));

  border-radius: var(--h-input-border-radius);
  background-color: var(--h-surface-neutral-strong);

  --h-textarea-border-color: var(--h-border-strong);
  --h-textarea-border-width: var(--h-input-border-width);

  /* fake padding */
  border: calc(var(--h-space-100) + var(--h-input-border-width)) solid
    var(--h-surface-neutral-strong);
  outline: var(--h-textarea-border-width) solid var(--h-textarea-border-color);
  outline-offset: -1px;
  background-clip: padding-box;
  /* account for fake padding when calculating width */
  min-width: calc(
    var(--h-input-min-width) - calc(var(--h-space-100) * 2) -
      calc(var(--h-textarea-padding-inline) * 2) - calc(var(--h-input-border-width) * 2)
  );
  max-width: calc(
    var(--h-input-max-width) - calc(var(--h-space-100) * 2) -
      calc(var(--h-textarea-padding-inline) * 2) - calc(var(--h-input-border-width) * 2)
  );

  &:where([data-resize='none']) {
    resize: none;
  }

  &:where([data-resize='vertical']) {
    resize: vertical;
  }

  &:where([data-resize='horizontal']) {
    resize: horizontal;
  }

  &:where([data-resize='both']) {
    resize: both;
  }

  &:where(textarea:disabled, textarea[readonly]) {
    cursor: default;
  }

  :where([data-validation-status='valid']:not(:has(textarea[readonly], textarea:disabled))) & {
    --h-textarea-border-color: var(--h-feedback-positive-border);
  }

  :where([data-validation-status='invalid']:not(:has(textarea[readonly], textarea:disabled))) & {
    --h-textarea-border-color: var(--h-feedback-danger-border);
  }

  &:where(:focus) {
    --h-textarea-border-width: var(--h-input-border-width-focused);
  }

  &:where(:disabled, [readonly]) {
    cursor: default;
  }

  &:where(textarea[readonly]):not([data-disabled] &) {
    --h-textarea-border-color: var(--h-border-subtle);
  }

  &::placeholder {
    color: var(--h-text-secondary);
  }
}
