.h-RadioGroup {
  flex-wrap: wrap;

  &:where([data-orientation='horizontal']) {
    flex-direction: row;
  }

  &:where([data-orientation='vertical']) {
    flex-direction: column;
    width: fit-content;
  }

  gap: var(--h-radio-group-stack-gap);

  &:has(.h-RadioTile) {
    gap: var(--h-radio-tile-group-stack-gap);
  }
}
