.hearth-RadioGroupRoot {
  flex-wrap: wrap;

  /* &:where(:not(:first-child)) { */

  /*   margin-top: var(--h-space-200); */

  /* } */

  &:where([data-orientation='horizontal']) {
    flex-direction: row;
  }

  &:where([data-orientation='vertical']) {
    flex-direction: column;
    width: fit-content;
  }

  gap: var(--h-radio-group-stack-gap);

  &:has(.hearth-RadioTile) {
    gap: var(--h-radio-tile-group-stack-gap);
  }
}
