.h-ToastViewport {
  position: fixed;
  bottom: var(--h-toast-bottom-position);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: var(--h-toast-stack-gap);
  width: max-content;
  max-width: calc(100vw - calc(var(--h-space-300) * 2));
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
  pointer-events: none;

  & :where(.h-Toast) {
    background-color: var(--h-toast-background-color);
    border-radius: var(--h-toast-border-radius);
    padding: var(--h-toast-padding);
    display: flex;
    align-items: center;
    gap: var(--h-toast-gap);
    min-width: 288px;
    max-width: 680px;
    width: fit-content;
    pointer-events: auto;
    color: var(--h-text-inverted);

    &:where(:focus-visible) {
      outline: 2px solid var(--h-focus-primary);
      outline-offset: 1px;
    }

    &:where([data-state='open']) {
      animation: h-slide-in 100ms ease-out;
    }

    &:where([data-state='closed']) {
      animation: h-hide 100ms ease-in;
    }

    &:where([data-swipe='move']) {
      /* stylelint-disable-next-line custom-property-pattern, csstools/value-no-unknown-custom-properties */
      transform: translateY(var(--radix-toast-swipe-move-y));
    }

    &:where([data-swipe='cancel']) {
      transform: translateY(0);
      transition: transform 200ms ease-out;
    }

    &:where([data-swipe='end']) {
      animation: h-swipe-down 100ms ease-out;
    }

    & :where(.h-ToastDescription) {
      flex-grow: 1;
      font-family: var(--h-font-family-body);
      font-weight: var(--h-body-text-font-weight);
      font-size: var(--h-body-text-md-font-size);
      line-height: var(--h-body-text-md-line-height);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes h-slide-in {
    from {
      transform: translateY(calc(100% + var(--h-toast-bottom-position)));
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes h-hide {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes h-swipe-down {
    from {
      /* stylelint-disable-next-line custom-property-pattern, csstools/value-no-unknown-custom-properties */
      transform: translateY(var(--radix-toast-swipe-end-y));
    }

    to {
      transform: translateY(calc(100% + var(--h-toast-bottom-position)));
      opacity: 0;
    }
  }
}
