.uwp-Box {
  box-sizing: border-box;
  display: block;

  &:where(.uwp-padding) {
    padding: var(--uwp-padding);
  }

  @media (--tablet) {
    &:where(.tablet\:uwp-padding) {
      padding: var(--uwp-padding-tablet);
    }
  }

  @media (--desktop) {
    &:where(.desktop\:uwp-padding) {
      padding: var(--uwp-padding-desktop);
    }
  }

  @media (--wide) {
    &:where(.wide\:uwp-padding) {
      padding: var(--uwp-padding-wide);
    }
  }
}
