.uwp-Label {
  --color: var(--color-grey1000);
  --color-disabled: var(--color-grey400);
  --font-weight: var(--font-weight-semibold);
  --font-weight-nested: var(--font-weight-regular);

  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight);
  line-height: var(--line-height-lg);
  color: var(--color);

  &:where([data-disabled], [data-disabled] &) {
    color: var(--color-disabled);
  }

  &:where(.uwp-nested) {
    font-weight: var(--font-weight-nested);
  }
}
