.h-SkeletonBodyText {
  display: block;
}

.h-SkeletonBodyTextLine {
  display: block;
  width: 100%;
  color: transparent;
  border-radius: var(--h-border-radius-xs);
  background-color: var(--h-skeleton-loading-color);
  animation: h-skeleton-loading-opacity 1.2s ease-in-out infinite alternate;

  &:where(:not(:first-child)) {
    margin-top: 0.5em;
  }
}
