.dm-sans {
  font-family: 'DM Sans';
  font-weight: 400;
}

.dm-mono {
  font-family: 'DM Mono';
  font-weight: 500;
}

.comic-hams {
  font-family: 'Comic Hams';
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.heavy {
  font-weight: 900;
}

.italic {
  font-style: italic;
}
