.hearth-DateInput {
  width: 100%;

  & :where(.hearth-DateInputGroup) {
    display: flex;
    align-items: stretch;
    gap: var(--h-input-date-gap);

    & :where(.hearth-DateInputSegment) {
      display: flex;
      flex-direction: column;
      gap: var(--h-input-gap);
      width: 96px;
    }
  }
}
