.hearth-SectionHeader {
  width: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  gap: var(--h-section-header-text-content-gap) var(--h-section-header-gap);

  & :where(.hearth-Heading) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  & :where(.hearth-HelperText) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  & :where(.hearth-Link) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
