@import url('../../styles/tokens-legacy/section-header.css');

.hearth-SectionHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--h-section-header-gap);
  flex: 1 0 0;

  .hearth-SectionHeaderTextContent {
    gap: var(--h-section-header-text-content-gap);
  }
}
