.h-SectionHeader {
  width: 100%;
  justify-content: space-between;
  gap: var(--h-section-header-gap);

  .h-SectionHeaderContent {
    display: flex;
    flex-direction: column;
    gap: var(--h-section-header-text-content-gap);
  }

  & :where(.h-SectionHeaderTrailingContent) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
