.hearth-UnstyledIconButton {
  all: unset;
  outline: transparent;
  appearance: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  user-select: none; /* make inner text unselectable */
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation; /* make clicks not need to wait and observe a potential double click, making the buttons feel faster */
  transition: background-color 200ms ease-out;
  border-radius: var(--h-border-radius-xs);
  height: var(--h-icon-button-size);
  width: var(--h-icon-button-size);
  color: var(--h-icon-button-unstyled-foreground-color);
  cursor: pointer;

  &:where([data-inverted]) {
    color: var(--h-icon-button-unstyled-inverted-foreground-color);
  }

  &:where([aria-disabled='true']) {
    cursor: not-allowed;
  }

  @media (hover: hover) {
    &:where(:hover):not([aria-disabled='true']) {
      color: var(--h-icon-button-unstyled-foreground-color-hover);

      &:where([data-inverted]) {
        color: var(--h-icon-button-unstyled-inverted-foreground-color-hover);
      }
    }
  }

  &:where(:focus-visible) {
    outline: 2px solid var(--h-focus-primary);
    outline-offset: 1px;

    &:where([data-inverted]) {
      outline: 2px solid var(--h-focus-inverted);
    }
  }

  &:where(:active):not([aria-disabled='true']) {
    color: var(--h-icon-button-unstyled-foreground-color-active);

    &:where([data-inverted]) {
      color: var(--h-icon-button-unstyled-inverted-foreground-color-active);
    }
  }

  /* Increase the touch target size to 32px * 32px when the primary input
  mechanism includes a pointing device of limited accuracy, such as a finger on
  a touchscreen. We only need to do this for the `sm` size button. */
  &:where(.hearth-r-size-sm) {
    @media (pointer: coarse) {
      &::after {
        z-index: 0;
        content: '';
        position: absolute;
        height: 32px;
        width: 32px;
      }
    }
  }

  @breakpoints {
    &:where(.hearth-r-size-md) {
      --h-icon-button-size: 1.5rem;
    }

    &:where(.hearth-r-size-sm) {
      --h-icon-button-size: 1.25rem;
    }
  }
}
