.hearth-DialogOverlay {
  background-color: var(--h-overlay-background-color);
  opacity: var(--h-overlay-opacity);
  position: fixed;
  inset: 0;
  transition: opacity 125ms ease;
}

.hearth-Dialog {
  display: flex;
  flex-direction: column;
  gap: var(--h-dialog-gap);
  background-color: var(--h-dialog-background-color);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-left-radius: var(--h-dialog-border-radius);
  border-top-right-radius: var(--h-dialog-border-radius);
  height: fit-content;
  padding: var(--h-bottom-sheet-padding);
  min-width: fit-content;
  animation: hearth-slide-up-full-width 125ms ease;

  @media (width >= 375px) {
    left: 50%;
    transform: translateX(-50%);
    min-width: var(--h-dialog-width-mobile);
    max-width: var(--h-dialog-width-mobile);
    animation: hearth-slide-up 150ms ease-out;
  }

  @media (--h-tablet) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--h-dialog-padding);
    border-bottom-left-radius: var(--h-dialog-border-radius);
    border-bottom-right-radius: var(--h-dialog-border-radius);
    width: var(--h-dialog-width-tablet);
    max-width: var(--h-dialog-width-tablet);
    animation: hearth-show-dialog 175ms ease-out;
  }

  @media (--h-desktop) {
    width: var(--h-dialog-width-desktop);
    max-width: var(--h-dialog-width-desktop);
  }

  & :where(.hearth-DialogHeader) {
    gap: var(--h-dialog-content-gap) var(--h-dialog-gap);
  }

  & :where(.hearth-DialogFooter) {
    display: flex;
    gap: var(--h-dialog-action-gap);
    flex-direction: column-reverse;

    @media (--h-tablet) {
      flex-direction: row;
      justify-content: end;
    }
  }
}

@keyframes hearth-show-dialog {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes hearth-slide-up-full-width {
  from {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes hearth-slide-up {
  from {
    transform: translate(-50%, 50%);
  }

  to {
    transform: translate(-50%, 0);
  }
}
