@breakpoints {
  .h-r-align-items-start {
    align-items: flex-start;
  }

  .h-r-align-items-center {
    align-items: center;
  }

  .h-r-align-items-end {
    align-items: flex-end;
  }

  .h-r-align-items-baseline {
    align-items: baseline;
  }

  .h-r-align-items-stretch {
    align-items: stretch;
  }
}
