@breakpoints {
  .h-r-align-content-start {
    align-content: flex-start;
  }

  .h-r-align-content-center {
    align-content: center;
  }

  .h-r-align-content-end {
    align-content: flex-end;
  }

  .h-r-align-content-stretch {
    align-content: stretch;
  }

  .h-r-align-content-between {
    align-content: space-between;
  }

  .h-r-align-content-around {
    align-content: space-around;
  }

  .h-r-align-content-evenly {
    align-content: space-evenly;
  }
}
