@media (prefers-reduced-motion: no-preference) {
  @keyframes h-overlay-fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: var(--h-overlay-opacity);
    }
  }

  @keyframes h-overlay-fade-out {
    from {
      opacity: var(--h-overlay-opacity);
    }

    to {
      opacity: 0;
    }
  }
}
