/* stylelint-disable csstools/value-no-unknown-custom-properties */
.hearth-background-color {
  background-color: var(--h-background-color);
}

.hearth-background-color-primary {
  background-color: var(--h-background-primary);
}

.hearth-background-color-secondary {
  background-color: var(--h-background-secondary);
}

.hearth-background-color-brand {
  background-color: var(--h-background-brand);
}
