@breakpoints {
  .hearth-r-border-style-none {
    border-style: none;
  }

  .hearth-r-border-style-solid {
    border-style: solid;
  }

  .hearth-r-border-top-style-none {
    border-top-style: none;
  }

  .hearth-r-border-top-style-solid {
    border-top-style: solid;
  }

  .hearth-r-border-right-style-none {
    border-right-style: none;
  }

  .hearth-r-border-right-style-solid {
    border-right-style: solid;
  }

  .hearth-r-border-bottom-style-none {
    border-bottom-style: none;
  }

  .hearth-r-border-bottom-style-solid {
    border-bottom-style: solid;
  }

  .hearth-r-border-left-style-none {
    border-left-style: none;
  }

  .hearth-r-border-left-style-solid {
    border-left-style: solid;
  }
}

@breakpoints {
  .hearth-r-border-width-0 {
    border-width: 0;
  }

  .hearth-r-border-width-1 {
    border-width: var(--h-border-width-1);
  }

  .hearth-r-border-width-2 {
    border-width: var(--h-border-width-2);
  }

  .hearth-r-border-top-width-0 {
    border-top-width: 0;
  }

  .hearth-r-border-top-width-1 {
    border-top-width: var(--h-border-width-1);
  }

  .hearth-r-border-top-width-2 {
    border-top-width: var(--h-border-width-2);
  }

  .hearth-r-border-right-width-0 {
    border-right-width: 0;
  }

  .hearth-r-border-right-width-1 {
    border-right-width: var(--h-border-width-1);
  }

  .hearth-r-border-right-width-2 {
    border-right-width: var(--h-border-width-2);
  }

  .hearth-r-border-bottom-width-0 {
    border-bottom-width: 0;
  }

  .hearth-r-border-bottom-width-1 {
    border-bottom-width: var(--h-border-width-1);
  }

  .hearth-r-border-bottom-width-2 {
    border-bottom-width: var(--h-border-width-2);
  }

  .hearth-r-border-left-width-0 {
    border-left-width: 0;
  }

  .hearth-r-border-left-width-1 {
    border-left-width: var(--h-border-width-1);
  }

  .hearth-r-border-left-width-2 {
    border-left-width: var(--h-border-width-2);
  }
}

@breakpoints {
  .hearth-r-border-radius-none {
    border-radius: var(--h-border-radius-none);
  }

  .hearth-r-border-radius-xs {
    border-radius: var(--h-border-radius-xs);
  }

  .hearth-r-border-radius-sm {
    border-radius: var(--h-border-radius-sm);
  }

  .hearth-r-border-radius-md {
    border-radius: var(--h-border-radius-md);
  }

  .hearth-r-border-radius-lg {
    border-radius: var(--h-border-radius-lg);
  }

  .hearth-r-border-radius-xl {
    border-radius: var(--h-border-radius-xl);
  }

  .hearth-r-border-radius-full {
    border-radius: var(--h-border-radius-full);
  }

  .hearth-r-border-top-left-radius-none {
    border-top-left-radius: var(--h-border-radius-none);
  }

  .hearth-r-border-top-left-radius-xs {
    border-top-left-radius: var(--h-border-radius-xs);
  }

  .hearth-r-border-top-left-radius-sm {
    border-top-left-radius: var(--h-border-radius-sm);
  }

  .hearth-r-border-top-left-radius-md {
    border-top-left-radius: var(--h-border-radius-md);
  }

  .hearth-r-border-top-left-radius-lg {
    border-top-left-radius: var(--h-border-radius-lg);
  }

  .hearth-r-border-top-left-radius-xl {
    border-top-left-radius: var(--h-border-radius-xl);
  }

  .hearth-r-border-top-left-radius-full {
    border-top-left-radius: var(--h-border-radius-full);
  }

  .hearth-r-border-top-right-radius-none {
    border-top-right-radius: var(--h-border-radius-none);
  }

  .hearth-r-border-top-right-radius-xs {
    border-top-right-radius: var(--h-border-radius-xs);
  }

  .hearth-r-border-top-right-radius-sm {
    border-top-right-radius: var(--h-border-radius-sm);
  }

  .hearth-r-border-top-right-radius-md {
    border-top-right-radius: var(--h-border-radius-md);
  }

  .hearth-r-border-top-right-radius-lg {
    border-top-right-radius: var(--h-border-radius-lg);
  }

  .hearth-r-border-top-right-radius-xl {
    border-top-right-radius: var(--h-border-radius-xl);
  }

  .hearth-r-border-top-right-radius-full {
    border-top-right-radius: var(--h-border-radius-full);
  }

  .hearth-r-border-bottom-right-radius-none {
    border-bottom-right-radius: var(--h-border-radius-none);
  }

  .hearth-r-border-bottom-right-radius-xs {
    border-bottom-right-radius: var(--h-border-radius-xs);
  }

  .hearth-r-border-bottom-right-radius-sm {
    border-bottom-right-radius: var(--h-border-radius-sm);
  }

  .hearth-r-border-bottom-right-radius-md {
    border-bottom-right-radius: var(--h-border-radius-md);
  }

  .hearth-r-border-bottom-right-radius-lg {
    border-bottom-right-radius: var(--h-border-radius-lg);
  }

  .hearth-r-border-bottom-right-radius-xl {
    border-bottom-right-radius: var(--h-border-radius-xl);
  }

  .hearth-r-border-bottom-right-radius-full {
    border-bottom-right-radius: var(--h-border-radius-full);
  }

  .hearth-r-border-bottom-left-radius-none {
    border-bottom-left-radius: var(--h-border-radius-none);
  }

  .hearth-r-border-bottom-left-radius-xs {
    border-bottom-left-radius: var(--h-border-radius-xs);
  }

  .hearth-r-border-bottom-left-radius-sm {
    border-bottom-left-radius: var(--h-border-radius-sm);
  }

  .hearth-r-border-bottom-left-radius-md {
    border-bottom-left-radius: var(--h-border-radius-md);
  }

  .hearth-r-border-bottom-left-radius-lg {
    border-bottom-left-radius: var(--h-border-radius-lg);
  }

  .hearth-r-border-bottom-left-radius-xl {
    border-bottom-left-radius: var(--h-border-radius-xl);
  }

  .hearth-r-border-bottom-left-radius-full {
    border-radius: var(--h-border-radius-full);
  }
}
