@breakpoints {
  .h-r-br-none {
    border-radius: var(--h-border-radius-none);
  }

  .h-r-br-xs {
    border-radius: var(--h-border-radius-xs);
  }

  .h-r-br-sm {
    border-radius: var(--h-border-radius-sm);
  }

  .h-r-br-md {
    border-radius: var(--h-border-radius-md);
  }

  .h-r-br-lg {
    border-radius: var(--h-border-radius-lg);
  }

  .h-r-br-xl {
    border-radius: var(--h-border-radius-xl);
  }

  .h-r-br-full {
    border-radius: var(--h-border-radius-full);
  }

  .h-r-br-inherit {
    border-radius: inherit;
  }
}

.h-br-tl-none {
  border-top-left-radius: var(--h-border-radius-none);
}

.h-br-tr-none {
  border-top-right-radius: var(--h-border-radius-none);
}

.h-br-br-none {
  border-bottom-right-radius: var(--h-border-radius-none);
}

.h-br-bl-none {
  border-bottom-left-radius: var(--h-border-radius-none);
}

.h-br-t-none {
  border-top-left-radius: var(--h-border-radius-none);
  border-top-right-radius: var(--h-border-radius-none);
}

.h-br-r-none {
  border-top-right-radius: var(--h-border-radius-none);
  border-bottom-right-radius: var(--h-border-radius-none);
}

.h-br-b-none {
  border-bottom-right-radius: var(--h-border-radius-none);
  border-bottom-left-radius: var(--h-border-radius-none);
}

.h-br-l-none {
  border-top-left-radius: var(--h-border-radius-none);
  border-bottom-left-radius: var(--h-border-radius-none);
}
