/* stylelint-disable csstools/value-no-unknown-custom-properties */
.h-border-color {
  border-color: var(--h-border-color);
}

.h-border-top-color {
  border-top-color: var(--h-border-top-color);
}

.h-border-right-color {
  border-right-color: var(--h-border-right-color);
}

.h-border-bottom-color {
  border-bottom-color: var(--h-border-bottom-color);
}

.h-border-left-color {
  border-left-color: var(--h-border-left-color);
}

.h-border-color-strong {
  border-color: var(--h-border-strong);
}

.h-border-color-subtle {
  border-color: var(--h-border-subtle);
}

.h-border-top-color-strong {
  border-top-color: var(--h-border-strong);
}

.h-border-top-color-subtle {
  border-top-color: var(--h-border-subtle);
}

.h-border-right-color-strong {
  border-right-color: var(--h-border-strong);
}

.h-border-right-color-subtle {
  border-right-color: var(--h-border-subtle);
}

.h-border-bottom-color-strong {
  border-bottom-color: var(--h-border-strong);
}

.h-border-bottom-color-subtle {
  border-bottom-color: var(--h-border-subtle);
}

.h-border-left-color-strong {
  border-left-color: var(--h-border-strong);
}

.h-border-left-color-subtle {
  border-left-color: var(--h-border-subtle);
}
