/* stylelint-disable csstools/value-no-unknown-custom-properties */
.h-text {
  color: var(--h-text);
}

.h-text-primary {
  color: var(--h-text-primary);
}

.h-text-secondary {
  color: var(--h-text-secondary);
}

.h-text-brand {
  color: var(--h-text-brand);
}

.h-text-affirmative {
  color: var(--h-text-affirmative);
}

.h-text-inverted {
  color: var(--h-text-inverted);
}
