/* text colours */
.hearth-color-primary {
  color: var(--h-text-primary);
}

.hearth-color-secondary {
  color: var(--h-text-secondary);
}

.hearth-color-brand {
  color: var(--h-text-brand);
}

.hearth-color-affirmative {
  color: var(--h-text-affirmative);
}

.hearth-color-inverted {
  color: var(--h-text-inverted);
}

/* foreground colours */
.hearth-color-feedback-danger {
  color: var(--h-feedback-danger-foreground-default);
}

.hearth-color-feedback-danger-subtle {
  color: var(--h-feedback-danger-foreground-subtle);
}

.hearth-color-feedback-functional {
  color: var(--h-feedback-functional-foreground-default);
}

.hearth-color-feedback-functional-subtle {
  color: var(--h-feedback-functional-foreground-subtle);
}

.hearth-color-feedback-info {
  color: var(--h-feedback-info-foreground-default);
}

.hearth-color-feedback-info-subtle {
  color: var(--h-feedback-info-foreground-subtle);
}

.hearth-color-feedback-positive {
  color: var(--h-feedback-positive-foreground-default);
}

.hearth-color-feedback-positive-subtle {
  color: var(--h-feedback-positive-foreground-subtle);
}

.hearth-color-feedback-warning {
  color: var(--h-feedback-warning-foreground-default);
}

.hearth-color-feedback-warning-subtle {
  color: var(--h-feedback-warning-foreground-subtle);
}

.hearth-color-interactive-affirmative-strong {
  color: var(--h-interactive-affirmative-foreground-strong);
}

.hearth-color-interactive-affirmative-subtle {
  color: var(--h-interactive-affirmative-foreground-subtle);
}

.hearth-color-interactive-brand-strong {
  color: var(--h-interactive-brand-foreground-strong);
}

.hearth-color-interactive-destructive-strong {
  color: var(--h-interactive-destructive-foreground-strong);
}

.hearth-color-interactive-destructive-subtle {
  color: var(--h-interactive-destructive-foreground-subtle);
}

.hearth-color-interactive-functional-strong {
  color: var(--h-interactive-functional-foreground-strong);
}

.hearth-color-interactive-functional-subtle {
  color: var(--h-interactive-functional-foreground-subtle);
}

.hearth-color-interactive-functional-inverted {
  color: var(--h-interactive-functional-foreground-inverted);
}

.hearth-color-interactive-highlight-strong {
  color: var(--h-interactive-highlight-foreground-strong);
}

.hearth-color-interactive-neutral-subtle {
  color: var(--h-interactive-neutral-foreground-subtle);
}
