/* stylelint-disable csstools/value-no-unknown-custom-properties */
.h-color {
  color: var(--h-color);
}

.h-color-primary {
  color: var(--h-text-primary);
}

.h-color-secondary {
  color: var(--h-text-secondary);
}

.h-color-brand {
  color: var(--h-text-brand);
}

.h-color-affirmative {
  color: var(--h-text-affirmative);
}

.h-color-inverted {
  color: var(--h-text-inverted);
}
