/* stylelint-disable csstools/value-no-unknown-custom-properties */
@breakpoints {
  .h-r-flex-d-row {
    flex-direction: row;
  }

  .h-r-flex-d-column {
    flex-direction: column;
  }

  .h-r-flex-d-row-reverse {
    flex-direction: row-reverse;
  }

  .h-r-flex-d-column-reverse {
    flex-direction: column-reverse;
  }
}

@breakpoints {
  .h-r-flex {
    flex: var(--h-r-flex);
  }
}

@breakpoints {
  .h-r-flex-b {
    flex-basis: var(--h-r-flex-basis);
  }
}

@breakpoints {
  .h-r-flex-s {
    flex-shrink: var(--h-r-flex-shrink);
  }
}

@breakpoints {
  .h-r-flex-g {
    flex-grow: var(--h-r-flex-grow);
  }
}

@breakpoints {
  .h-r-flex-w-nowrap {
    flex-wrap: nowrap;
  }

  .h-r-flex-w-wrap {
    flex-wrap: wrap;
  }

  .h-r-flex-w-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
