/* stylelint-disable csstools/value-no-unknown-custom-properties */
@breakpoints {
  .h-r-fd-row {
    flex-direction: row;
  }

  .h-r-fd-column {
    flex-direction: column;
  }

  .h-r-fd-row-reverse {
    flex-direction: row-reverse;
  }

  .h-r-fd-column-reverse {
    flex-direction: column-reverse;
  }
}

@breakpoints {
  .h-r-flex {
    flex: var(--h-r-flex);
  }
}

@breakpoints {
  .h-r-flex-basis {
    flex-basis: var(--h-r-flex-basis);
  }
}

@breakpoints {
  .h-r-flex-shrink {
    flex-shrink: var(--h-r-flex-shrink);
  }
}

@breakpoints {
  .h-r-flex-grow {
    flex-grow: var(--h-r-flex-grow);
  }
}

@breakpoints {
  .h-r-fw-nowrap {
    flex-wrap: nowrap;
  }

  .h-r-fw-wrap {
    flex-wrap: wrap;
  }

  .h-r-fw-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
