@breakpoints {
  .h-r-weight-regular {
    font-weight: var(--h-font-weight-regular);
  }

  .h-r-weight-medium {
    font-weight: var(--h-font-weight-medium);
  }

  .h-r-weight-semibold {
    font-weight: var(--h-font-weight-semibold);
  }

  .h-r-weight-bold {
    font-weight: var(--h-font-weight-bold);
  }

  .h-r-weight-heavy {
    font-weight: var(--h-font-weight-heavy);
  }
}
