/* stylelint-disable csstools/value-no-unknown-custom-properties */
@breakpoints {
  .h-r-grid-c-span-1 {
    grid-column: span 1;
  }

  .h-r-grid-c-span-2 {
    grid-column: span 2;
  }

  .h-r-grid-c-span-3 {
    grid-column: span 3;
  }

  .h-r-grid-c-span-4 {
    grid-column: span 4;
  }

  .h-r-grid-c-span-5 {
    grid-column: span 5;
  }

  .h-r-grid-c-span-6 {
    grid-column: span 6;
  }

  .h-r-grid-c-span-7 {
    grid-column: span 7;
  }

  .h-r-grid-c-span-8 {
    grid-column: span 8;
  }

  .h-r-grid-c-span-9 {
    grid-column: span 9;
  }

  .h-r-grid-c-span-10 {
    grid-column: span 10;
  }

  .h-r-grid-c-span-11 {
    grid-column: span 11;
  }

  .h-r-grid-c-span-12 {
    grid-column: span 12;
  }
}

@breakpoints {
  .h-r-grid-t {
    grid-template: var(--h-r-grid-template);
  }
}

@breakpoints {
  .h-r-grid-t-c {
    grid-template-columns: var(--h-r-grid-template-columns);
  }
}

@breakpoints {
  .h-r-grid-t-r {
    grid-template-rows: var(--h-r-grid-template-rows);
  }
}

@breakpoints {
  .h-r-grid-t-a {
    grid-template-areas: var(--h-r-grid-template-areas);
  }
}

@breakpoints {
  .h-r-grid-cs {
    grid-column-start: var(--h-r-grid-column-start);
  }
}

@breakpoints {
  .h-r-grid-ce {
    grid-column-end: var(--h-r-grid-column-end);
  }
}

@breakpoints {
  .h-r-grid-af-row {
    grid-auto-flow: row;
  }

  .h-r-grid-af-column {
    grid-auto-flow: column;
  }

  .h-r-grid-af-dense {
    grid-auto-flow: dense;
  }

  .h-r-grid-af-row-dense {
    grid-auto-flow: row dense;
  }

  .h-r-grid-af-column-dense {
    grid-auto-flow: column dense;
  }
}

@breakpoints {
  .h-r-grid-a {
    grid-area: var(--h-r-grid-area);
  }
}

@breakpoints {
  .h-r-grid-c {
    grid-column: var(--h-r-grid-column);
  }

  .h-r-grid-c-1 {
    grid-column: 1;
  }

  .h-r-grid-c-2 {
    grid-column: 2;
  }

  .h-r-grid-c-3 {
    grid-column: 3;
  }

  .h-r-grid-c-4 {
    grid-column: 4;
  }

  .h-r-grid-c-5 {
    grid-column: 5;
  }

  .h-r-grid-c-6 {
    grid-column: 6;
  }

  .h-r-grid-c-7 {
    grid-column: 7;
  }

  .h-r-grid-c-8 {
    grid-column: 8;
  }

  .h-r-grid-c-9 {
    grid-column: 9;
  }

  .h-r-grid-c-10 {
    grid-column: 10;
  }

  .h-r-grid-c-11 {
    grid-column: 11;
  }

  .h-r-grid-c-12 {
    grid-column: 12;
  }
}

@breakpoints {
  .h-r-grid-cs {
    grid-column-start: var(--h-r-grid-column-start);
  }

  .h-r-grid-cs-1 {
    grid-column-start: 1;
  }

  .h-r-grid-cs-2 {
    grid-column-start: 2;
  }

  .h-r-grid-cs-3 {
    grid-column-start: 3;
  }

  .h-r-grid-cs-4 {
    grid-column-start: 4;
  }

  .h-r-grid-cs-5 {
    grid-column-start: 5;
  }

  .h-r-grid-cs-6 {
    grid-column-start: 6;
  }

  .h-r-grid-cs-7 {
    grid-column-start: 7;
  }

  .h-r-grid-cs-8 {
    grid-column-start: 8;
  }

  .h-r-grid-cs-9 {
    grid-column-start: 9;
  }

  .h-r-grid-cs-10 {
    grid-column-start: 10;
  }

  .h-r-grid-cs-11 {
    grid-column-start: 11;
  }

  .h-r-grid-cs-12 {
    grid-column-start: 12;
  }
}

@breakpoints {
  .h-r-grid-ce {
    grid-column-end: var(--h-r-grid-column-end);
  }

  .h-r-grid-ce-1 {
    grid-column-end: 1;
  }

  .h-r-grid-ce-2 {
    grid-column-end: 2;
  }

  .h-r-grid-ce-3 {
    grid-column-end: 3;
  }

  .h-r-grid-ce-4 {
    grid-column-end: 4;
  }

  .h-r-grid-ce-5 {
    grid-column-end: 5;
  }

  .h-r-grid-ce-6 {
    grid-column-end: 6;
  }

  .h-r-grid-ce-7 {
    grid-column-end: 7;
  }

  .h-r-grid-ce-8 {
    grid-column-end: 8;
  }

  .h-r-grid-ce-9 {
    grid-column-end: 9;
  }

  .h-r-grid-ce-10 {
    grid-column-end: 10;
  }

  .h-r-grid-ce-11 {
    grid-column-end: 11;
  }

  .h-r-grid-ce-12 {
    grid-column-end: 12;
  }
}

@breakpoints {
  .h-r-grid-r {
    grid-row: var(--h-r-grid-row);
  }
}

@breakpoints {
  .h-r-grid-rs {
    grid-row-start: var(--h-r-grid-row-start);
  }
}

@breakpoints {
  .h-r-grid-re {
    grid-row-end: var(--h-r-grid-row-end);
  }
}
