@breakpoints {
  .h-r-justify-content-start {
    justify-content: flex-start;
  }

  .h-r-justify-content-center {
    justify-content: center;
  }

  .h-r-justify-content-end {
    justify-content: flex-end;
  }

  .h-r-justify-content-stretch {
    justify-content: stretch;
  }

  .h-r-justify-content-between {
    justify-content: space-between;
  }

  .h-r-justify-content-around {
    justify-content: space-around;
  }

  .h-r-justify-content-evenly {
    justify-content: space-evenly;
  }
}
