@breakpoints {
  .h-r-justify-items-start {
    justify-items: start;
  }

  .h-r-justify-items-center {
    justify-items: center;
  }

  .h-r-justify-items-end {
    justify-items: end;
  }

  .h-r-justify-items-stretch {
    justify-items: stretch;
  }
}
