@breakpoints {
  .h-r-ji-start {
    justify-items: start;
  }

  .h-r-ji-center {
    justify-items: center;
  }

  .h-r-ji-end {
    justify-items: end;
  }

  .h-r-ji-stretch {
    justify-items: stretch;
  }
}
