.h-Overlay {
  position: fixed;
  inset: 0;

  &::before {
    position: fixed;
    content: '';
    inset: 0;
    background-color: var(--h-overlay-background-color);
    opacity: var(--h-overlay-opacity);
  }
}
