@breakpoints {
  .hearth-r-position-static {
    position: static;
  }

  .hearth-r-position-absolute {
    position: absolute;
  }

  .hearth-r-position-relative {
    position: relative;
  }

  .hearth-r-position-fixed {
    position: fixed;
  }

  .hearth-r-position-sticky {
    position: sticky;
  }
}

@breakpoints {
  .hearth-r-inset {
    inset: var(--h-r-inset);
  }

  .hearth-r-inset-0 {
    inset: 0;
  }

  .hearth-r-inset-25 {
    inset: var(--h-space-25);
  }

  .hearth-r-inset-50 {
    inset: var(--h-space-50);
  }

  .hearth-r-inset-75 {
    inset: var(--h-space-75);
  }

  .hearth-r-inset-100 {
    inset: var(--h-space-100);
  }

  .hearth-r-inset-150 {
    inset: var(--h-space-150);
  }

  .hearth-r-inset-175 {
    inset: var(--h-space-175);
  }

  .hearth-r-inset-200 {
    inset: var(--h-space-200);
  }

  .hearth-r-inset-250 {
    inset: var(--h-space-250);
  }

  .hearth-r-inset-300 {
    inset: var(--h-space-300);
  }

  .hearth-r-inset-350 {
    inset: var(--h-space-350);
  }

  .hearth-r-inset-400 {
    inset: var(--h-space-400);
  }

  .hearth-r-inset-500 {
    inset: var(--h-space-500);
  }

  .hearth-r-inset-600 {
    inset: var(--h-space-600);
  }

  .hearth-r-inset-700 {
    inset: var(--h-space-700);
  }

  .hearth-r-inset-800 {
    inset: var(--h-space-800);
  }

  .hearth-r-inset-900 {
    inset: var(--h-space-900);
  }

  .hearth-r-inset-1000 {
    inset: var(--h-space-1000);
  }
}

@breakpoints {
  .hearth-r-top {
    top: var(--h-r-top);
  }

  .hearth-r-top-0 {
    top: 0;
  }

  .hearth-r-top-25 {
    top: var(--h-space-25);
  }

  .hearth-r-top-50 {
    top: var(--h-space-50);
  }

  .hearth-r-top-75 {
    top: var(--h-space-75);
  }

  .hearth-r-top-100 {
    top: var(--h-space-100);
  }

  .hearth-r-top-150 {
    top: var(--h-space-150);
  }

  .hearth-r-top-175 {
    top: var(--h-space-175);
  }

  .hearth-r-top-200 {
    top: var(--h-space-200);
  }

  .hearth-r-top-250 {
    top: var(--h-space-250);
  }

  .hearth-r-top-300 {
    top: var(--h-space-300);
  }

  .hearth-r-top-350 {
    top: var(--h-space-350);
  }

  .hearth-r-top-400 {
    top: var(--h-space-400);
  }

  .hearth-r-top-500 {
    top: var(--h-space-500);
  }

  .hearth-r-top-600 {
    top: var(--h-space-600);
  }

  .hearth-r-top-700 {
    top: var(--h-space-700);
  }

  .hearth-r-top-800 {
    top: var(--h-space-800);
  }

  .hearth-r-top-900 {
    top: var(--h-space-900);
  }

  .hearth-r-top-1000 {
    top: var(--h-space-1000);
  }
}

@breakpoints {
  .hearth-r-right {
    right: var(--h-r-right);
  }

  .hearth-r-right-0 {
    right: 0;
  }

  .hearth-r-right-25 {
    right: var(--h-space-25);
  }

  .hearth-r-right-50 {
    right: var(--h-space-50);
  }

  .hearth-r-right-75 {
    right: var(--h-space-75);
  }

  .hearth-r-right-100 {
    right: var(--h-space-100);
  }

  .hearth-r-right-150 {
    right: var(--h-space-150);
  }

  .hearth-r-right-175 {
    right: var(--h-space-175);
  }

  .hearth-r-right-200 {
    right: var(--h-space-200);
  }

  .hearth-r-right-250 {
    right: var(--h-space-250);
  }

  .hearth-r-right-300 {
    right: var(--h-space-300);
  }

  .hearth-r-right-350 {
    right: var(--h-space-350);
  }

  .hearth-r-right-400 {
    right: var(--h-space-400);
  }

  .hearth-r-right-500 {
    right: var(--h-space-500);
  }

  .hearth-r-right-600 {
    right: var(--h-space-600);
  }

  .hearth-r-right-700 {
    right: var(--h-space-700);
  }

  .hearth-r-right-800 {
    right: var(--h-space-800);
  }

  .hearth-r-right-900 {
    right: var(--h-space-900);
  }

  .hearth-r-right-1000 {
    right: var(--h-space-1000);
  }
}

@breakpoints {
  .hearth-r-bottom {
    bottom: var(--h-r-bottom);
  }

  .hearth-r-bottom-0 {
    bottom: 0;
  }

  .hearth-r-bottom-25 {
    bottom: var(--h-space-25);
  }

  .hearth-r-bottom-50 {
    bottom: var(--h-space-50);
  }

  .hearth-r-bottom-75 {
    bottom: var(--h-space-75);
  }

  .hearth-r-bottom-100 {
    bottom: var(--h-space-100);
  }

  .hearth-r-bottom-150 {
    bottom: var(--h-space-150);
  }

  .hearth-r-bottom-175 {
    bottom: var(--h-space-175);
  }

  .hearth-r-bottom-200 {
    bottom: var(--h-space-200);
  }

  .hearth-r-bottom-250 {
    bottom: var(--h-space-250);
  }

  .hearth-r-bottom-300 {
    bottom: var(--h-space-300);
  }

  .hearth-r-bottom-350 {
    bottom: var(--h-space-350);
  }

  .hearth-r-bottom-400 {
    bottom: var(--h-space-400);
  }

  .hearth-r-bottom-500 {
    bottom: var(--h-space-500);
  }

  .hearth-r-bottom-600 {
    bottom: var(--h-space-600);
  }

  .hearth-r-bottom-700 {
    bottom: var(--h-space-700);
  }

  .hearth-r-bottom-800 {
    bottom: var(--h-space-800);
  }

  .hearth-r-bottom-900 {
    bottom: var(--h-space-900);
  }

  .hearth-r-bottom-1000 {
    bottom: var(--h-space-1000);
  }
}

@breakpoints {
  .hearth-r-left {
    left: var(--h-r-left);
  }

  .hearth-r-left-0 {
    left: 0;
  }

  .hearth-r-left-25 {
    left: var(--h-space-25);
  }

  .hearth-r-left-50 {
    left: var(--h-space-50);
  }

  .hearth-r-right-75 {
    left: var(--h-space-75);
  }

  .hearth-r-left-100 {
    left: var(--h-space-100);
  }

  .hearth-r-left-150 {
    left: var(--h-space-150);
  }

  .hearth-r-left-175 {
    left: var(--h-space-175);
  }

  .hearth-r-left-200 {
    left: var(--h-space-200);
  }

  .hearth-r-left-250 {
    left: var(--h-space-250);
  }

  .hearth-r-left-300 {
    left: var(--h-space-300);
  }

  .hearth-r-left-350 {
    left: var(--h-space-350);
  }

  .hearth-r-left-400 {
    left: var(--h-space-400);
  }

  .hearth-r-left-500 {
    left: var(--h-space-500);
  }

  .hearth-r-left-600 {
    left: var(--h-space-600);
  }

  .hearth-r-left-700 {
    left: var(--h-space-700);
  }

  .hearth-r-left-800 {
    left: var(--h-space-800);
  }

  .hearth-r-left-900 {
    left: var(--h-space-900);
  }

  .hearth-r-left-1000 {
    left: var(--h-space-1000);
  }
}
