.h-ScrollAreaRoot {
  width: 100%;
  height: 100%;
}

.h-ScrollAreaViewport {
  width: 100%;
  height: 100%;
  padding-bottom: var(--h-space-25);
  border-radius: var(--h-border-radius-xs);

  /* cover the possibility that we're using either radix or base ui variables */
  /* stylelint-disable-next-line custom-property-pattern, csstools/value-no-unknown-custom-properties -- Radix UI & Base UI specific custom properties */
  --h-available-height: var(--radix-popper-available-height, var(--available-height));

  max-height: calc(var(--h-available-height) - calc(var(--h-space-50) * 2));
}

.h-ScrollAreaScrollbar {
  width: 8px;
  padding-bottom: var(--h-space-25);
}

.h-ScrollAreaThumb {
  background-color: var(--h-interactive-functional-surface-subtle-active);
  border-radius: var(--h-border-radius-md);
}
