:where(.hearth-text-transform-none) {
  text-transform: none;
}

:where(.hearth-text-transform-capitalize) {
  text-transform: capitalize;
}

:where(.hearth-text-transform-uppercase) {
  text-transform: uppercase;
}

:where(.hearth-text-transform-lowercase) {
  text-transform: lowercase;
}
