.hearth-Button {
  font-family: var(--font-family-detail);
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-500);
  gap: var(--button-gap);
  min-width: 124px;
  padding-inline: var(--button-padding-inline);
  padding-block: var(--button-padding-block);

  &:where(.hearth-variant-emphasis) {
    min-width: 0;
    padding: 0;
  }

  &:where(.hearth-variant-emphasis) > .hearth-front {
    min-width: 124px;
    padding-inline: var(--button-padding-inline);
    padding-block: var(--button-padding-block);
  }

  @breakpoints {
    &:where(.hearth-r-size-md) {
      --button-padding-inline: var(--button-md-padding-horizontal);
      --button-padding-block: var(--button-md-padding-vertical);
    }

    &:where(.hearth-r-size-sm) {
      --button-padding-inline: var(--button-sm-padding-horizontal);
      --button-padding-block: var(--button-sm-padding-vertical);
    }
  }
}
