.uwp-Button {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height);
  min-width: var(--min-width);
  gap: 8px;
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);

  @breakpoints {
    &:where(.uwp-r-size-medium) {
      --line-height: 1.5;
      --min-width: 136px;
      --padding-inline: 24px;
      --padding-block: 12px;
    }

    &:where(.uwp-r-size-small) {
      --line-height: 1;
      --min-width: 120px;
      --padding-inline: 16px;
      --padding-block: 8px;
    }
  }
}
