.h-Button {
  font-family: var(--h-font-family-body);
  font-size: var(--h-body-text-md-font-size);
  font-weight: var(--h-font-weight-semibold);
  line-height: var(--h-body-text-md-line-height);
  gap: var(--h-button-gap);
  min-width: var(--h-button-min-width);
  padding-inline: var(--h-button-padding-inline);
  padding-block: var(--h-button-padding-block);

  &:where(.h-variant-ghost.h-padding-none) {
    padding-inline: 0;
  }

  &:where(.h-variant-emphasis) {
    min-width: 0;
    padding: 0;
    gap: 0;
  }

  &:where(.h-variant-ghost) {
    text-decoration: underline;
  }

  &:where(.h-variant-emphasis) > .h-front {
    min-width: var(--h-button-min-width);
    gap: var(--h-button-gap);
    padding-inline: var(--h-button-padding-inline);
    padding-block: var(--h-button-padding-block);
  }

  & :where(.h-ButtonLoading) {
    display: grid;

    > div,
    > span {
      grid-column: 1;
      grid-row: 1;
    }

    > div {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: var(--h-button-gap);
    }

    & :where(.h-ButtonHidden) {
      visibility: hidden;
    }
  }

  @breakpoints {
    &:where(.h-r-size-md) {
      --h-button-padding-inline: var(--h-button-md-padding-horizontal);
      --h-button-padding-block: var(--h-button-md-padding-vertical);
    }

    &:where(.h-r-size-sm) {
      --h-button-padding-inline: var(--h-button-sm-padding-horizontal);
      --h-button-padding-block: var(--h-button-sm-padding-vertical);
    }
  }
}
