& {
  /** font-family **/
  --font-family-body: 'DM Sans';
  --font-family-heading: 'TMT Limkin Flare';

  /** font-sizes **/

  --font-size-90: 0.875rem;
  --font-size-100: 1rem;
  --font-size-150: 1.125rem;
  --font-size-200: 1.25rem;
  --font-size-300: 1.5rem;
  --font-size-400: 1.875rem;
  --font-size-550: 2.5rem;

  --body-text-sm-font-size: var(--font-size-90);
  --body-text-md-font-size: var(--font-size-100);
  --body-text-lg-font-size: var(--font-size-150);

  --heading-sm-font-size: var(--font-size-150);
  --heading-md-font-size: var(--font-size-200);
  --heading-md-font-size-desktop: var(--font-size-300);
  --heading-lg-font-size: var(--font-size-300);
  --heading-lg-font-size-desktop: var(--font-size-400);
  --heading-xl-font-size: var(--font-size-400);
  --heading-xl-font-size-desktop: var(--font-size-550);

  /** font-weights **/
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /** line-heights **/
  --line-height-sm: 1;
  --line-height-md: 1.2;
  --line-height-lg: 1.5;
  --line-height-xl: 2;

  /** legacy to be removed **/
  --font-size-body-xs: 0.75rem;
  --font-size-body-sm: 0.875rem;
  --font-size-body-md: 1rem;
  --font-size-body-lg: 1.125rem;
  --font-size-body-xl: 1.25rem;
  --font-size-heading-xs: 1.125rem;
  --font-size-heading-sm: 1.25rem;
  --font-size-heading-md: 1.375rem;
  --font-size-heading-lg: 1.5rem;
  --font-size-heading-xl: 1.75rem;
  --font-size-heading-2xl: 2rem;
  --font-size-heading-3xl: 2.625rem;
  --font-size-heading-4xl: 4rem;
}
